$nm-color-bg-main: #222;
$nm-color-bg-secondary: #393939;
$nm-color-milddark:#202020;
$nm-color-borders: #2D2E32;
$nm-color-text: #ddd;
// rgba(6, 102, 178, 0.5) = #0666b2 ???
.res-nightmode {
    .comment .md {
        color: $nm-color-text !important;
    }
    .date {
        color: $nm-color-text !important;
        &:before {
            background: $nm-color-bg-main !important;
        }
    }
    .flair {
        color: $nm-color-text !important;
    }
    .footer {
        div.col a,
        &::after {
            color: $nm-color-text !important;
        }
    }
    .linkinfo .shortlink {
        color: $nm-color-text !important;
    }
    .totalvotes {
        background: $nm-color-bg-main !important;
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
    }
    .date time,
    .linkinfo .score {
        color: $nm-color-text !important;
    }
    .arrow {
        &.upmod {
            background-position: -296px -60px !important;
        }
        &.down {
            background-position: -321px -60px !important;
        }
        &.up {
            background-position: -289px -194px !important;
        }
        &.downmod {
            background-position: -271px -60px !important;
        }
    }
    #header {
        background: $nm-color-bg-main !important;
    }
    .icon-menu li,
    .reddit-link:hover {
        background-color: $nm-color-bg-secondary !important;
        border-left-color: rgba(6, 102, 178, 0.5) !important;
    }
    .sidecontentbox {
        .content a.author:hover,
        .more:hover {
            background-color: $nm-color-bg-secondary !important;
            border-left-color: rgba(6, 102, 178, 0.5) !important;
        }
    }
    div.titlebox .md ul li:hover {
        background-color: $nm-color-bg-secondary !important;
        border-left-color: rgba(6, 102, 178, 0.5) !important;
    }
    #searchexpando,
    .icon-menu li {
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
    }
    .linkinfo {
        .score,
        .shortlink {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    .reddit-link {
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
    }
    .side .titlebox {
        div.subButtons,
        h1.redditname+div,
        >.fancy-toggle-button {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    .sidecontentbox {
        .content a.author,
        .more {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    div {
        &.side {
            div {
                &.leavemoderator,
                &.tagline {
                    border-bottom: 1px solid $nm-color-bg-secondary !important;
                    border-left: 5px solid $nm-color-bg-secondary !important;
                    border-right: 1px solid $nm-color-bg-secondary !important;
                    background: $nm-color-bg-main !important;
                    border-top: 1px solid $nm-color-bg-secondary !important;
                }
            }
            form {
                &.flairtoggle,
                &.leavecontributor-button {
                    border-bottom: 1px solid $nm-color-bg-secondary !important;
                    border-left: 5px solid $nm-color-bg-secondary !important;
                    border-right: 1px solid $nm-color-bg-secondary !important;
                    background: $nm-color-bg-main !important;
                    border-top: 1px solid $nm-color-bg-secondary !important;
                }
            }
            p.users-online,
            span.subscribers {
                border-bottom: 1px solid $nm-color-bg-secondary !important;
                border-left: 5px solid $nm-color-bg-secondary !important;
                border-right: 1px solid $nm-color-bg-secondary !important;
                background: $nm-color-bg-main !important;
                border-top: 1px solid $nm-color-bg-secondary !important;
            }
        }
        &.titlebox .md ul li {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    .side .titlebox>.fancy-toggle-button {
        background: $nm-color-bg-main !important;
        color: $nm-color-text !important;
    }
    div {
        &.side {
            div.tagline,
            form.flairtoggle,
            span.subscribers {
                background: $nm-color-bg-main !important;
                color: $nm-color-text !important;
            }
        }
        &.titlebox .md ul li {
            background: $nm-color-bg-main !important;
            color: $nm-color-text !important;
        }
    }
    #sr-header-area {
        background-color: #0C1722;
    }
    .nextprev a:hover,
    .side .morelink a:hover,
    button:hover {
        background-color: $nm-color-bg-secondary !important;
    }
    #header,
    .account-activity-box,
    .morelink,
    .nextprev a {
        background: $nm-color-bg-main !important;
    }
    .sidecontentbox {
        .title,
        a.helplink {
            background: $nm-color-bg-main !important;
        }
    }
    div.titlebox {
        .md {
            h2,
            h3,
            h4 {
                background: $nm-color-bg-main !important;
            }
        }
        h1 {
            background: $nm-color-bg-main !important;
        }
    }
    #header #header-bottom-right {
        #mail:hover,
        #modmail:hover,
        .choice:hover,
        .logout:hover,
        .user:hover {
            background-color: $nm-color-bg-secondary !important;
        }
        .logout a,
        .nohavemail#mail {
            background-color: transparent !important;
            outline: 0 !important;
        }
    }
    #header-bottom-right {
        #modmail,
        .choice,
        .user {
            background-color: transparent !important;
            outline: 0 !important;
        }
    }
    .titlebox form.toggle {
        border-color: $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
    }
    #header-bottom-left .tabmenu,
    #header-img {
        //???
        background: 0 0;
        background-color: transparent !important;
    }
    .morelink a {
        color: #fff !important;
    }
    div.titlebox span.fancy-toggle-button a.active.remove {
        background-color: $nm-color-bg-secondary !important;
    }
    .link {
        border-left-color: transparent;
        border-bottom: 1px solid $nm-color-borders;
        border-right: 1px solid $nm-color-borders;
        .score.likes {
            color: $color-bg-secondary;
        }
    }
    #siteTable .thing {
        background: #202020;
    }
    .linklisting {
        border-right: 1px solid $nm-color-bg-secondary !important;
    }
    .listing-page .link:hover {
        background: $nm-color-bg-secondary !important;
        border-left-color: #a9a9a9 !important;
    }
    button {
        border: none;
    }
    input {
        &[type=button],
        &[type=reset],
        &[type=submit] {
            border: none;
        }
    }
    submit {
        border: none;
    }
    .account-activity-box:hover,
    .link .usertext-body .md {
        background-color: $nm-color-bg-secondary !important;
    }
    .flairselector {
        background-color: $nm-color-bg-main !important;
    }
    .sitetable .comment .comment {
        background-color: $nm-color-bg-secondary !important;
        .comment .comment {
            background-color: $nm-color-bg-secondary !important;
            .comment .comment {
                background-color: $nm-color-bg-secondary !important;
                .comment .comment {
                    background-color: $nm-color-bg-secondary !important;
                    .comment .comment {
                        background-color: $nm-color-bg-secondary !important;
                        .comment .comment {
                            background-color: $nm-color-bg-secondary !important;
                            .comment .comment {
                                background-color: $nm-color-bg-secondary !important;
                                .comment .comment {
                                    background-color: $nm-color-bg-secondary !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sitetable .comment {
        background-color: $nm-color-bg-main !important;
        .comment .comment {
            background-color: $nm-color-bg-main !important;
            .comment .comment {
                background-color: $nm-color-bg-main !important;
                .comment .comment {
                    background-color: $nm-color-bg-main !important;
                    .comment .comment {
                        background-color: $nm-color-bg-main !important;
                        .comment .comment {
                            background-color: $nm-color-bg-main !important;
                            .comment .comment {
                                background-color: $nm-color-bg-main !important;
                                .comment .comment {
                                    background-color: $nm-color-bg-main !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        margin-bottom: 0;
        margin-top: 0;
    }
    .side .spacer .titlebox .redditname {
        border-left-color: $color-bg-secondary;
    }
    .gold-accent {
        background: $color-bg-main;
    }
    .shortlink input {
        background: $nm-color-bg-secondary;
        color: $nm-color-text;
    }
    .date {
        span,
        time {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
}

html[lang^=nm] {
    .comment .md {
        color: $nm-color-text !important;
    }
    .date {
        color: $nm-color-text !important;
        &::before {
            color: $nm-color-text !important;
        }
    }
    .flair {
        color: $nm-color-text !important;
    }
    .footer {
        div.col a,
        &::after {
            color: $nm-color-text !important;
        }
    }
    .linkinfo .shortlink,
    .side .titlebox>.fancy-toggle-button {
        color: $nm-color-text !important;
    }
    div {
        &.side {
            div.tagline,
            form.flairtoggle,
            span.subscribers {
                color: $nm-color-text !important;
            }
        }
        &.titlebox .md ul li {
            color: $nm-color-text !important;
        }
    }
    #header,
    .account-activity-box,
    .date:before,
    .morelink,
    .nextprev a {
        background: $nm-color-bg-main !important;
    }
    .sidecontentbox {
        .title,
        a.helplink {
            background: $nm-color-bg-main !important;
        }
    }
    div.titlebox {
        .md {
            h2,
            h3,
            h4 {
                background: $nm-color-bg-main !important;
            }
        }
        h1 {
            background: $nm-color-bg-main !important;
        }
    }
    #header #header-bottom-right {
        #mail.nohavemail,
        .logout a {
            background-color: transparent !important;
            outline: 0 !important;
        }
    }
    #header-bottom-right {
        #modmail,
        .choice,
        .user {
            background-color: transparent !important;
            outline: 0 !important;
        }
    }
    #siteTable .thing {
        background: #202020;
    }
    .comments-page .link {
        border-left-color: transparent !important;
        border-bottom: 1px solid $nm-color-bg-secondary;
    }
    .comments-page .usertext-edit div textarea {
        color: $nm-color-bg-main
    }
    .link {
        border-left-color: transparent;
        border-bottom: 1px solid $nm-color-borders;
        border-right: 1px solid $nm-color-borders;
    }
    body {
        background: #1a1a1a !important;
        &:not(.res-nightmode) .linklisting {
            border-right: 1px solid $nm-color-bg-secondary !important;
        }
    }
    #searchexpando {
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
    }
    .side .titlebox {
        div.subButtons,
        h1.redditname+div,
        >.fancy-toggle-button {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    .totalvotes {
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
    }
    div {
        &.side {
            div {
                &.leavemoderator,
                &.tagline {
                    border-bottom: 1px solid $nm-color-bg-secondary !important;
                    border-left: 5px solid $nm-color-bg-secondary !important;
                    border-right: 1px solid $nm-color-bg-secondary !important;
                    background: $nm-color-bg-main !important;
                    border-top: 1px solid $nm-color-bg-secondary !important;
                }
            }
            form {
                &.flairtoggle,
                &.leavecontributor-button {
                    border-bottom: 1px solid $nm-color-bg-secondary !important;
                    border-left: 5px solid $nm-color-bg-secondary !important;
                    border-right: 1px solid $nm-color-bg-secondary !important;
                    background: $nm-color-bg-main !important;
                    border-top: 1px solid $nm-color-bg-secondary !important;
                }
            }
            p.users-online,
            span.subscribers {
                border-bottom: 1px solid $nm-color-bg-secondary !important;
                border-left: 5px solid $nm-color-bg-secondary !important;
                border-right: 1px solid $nm-color-bg-secondary !important;
                background: $nm-color-bg-main !important;
                border-top: 1px solid $nm-color-bg-secondary !important;
            }
        }
        &.titlebox .md ul li {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    .account-activity-box:hover,
    .link .usertext-body .md {
        background-color: $nm-color-bg-secondary !important;
    }
    .flairselector {
        background-color: $nm-color-bg-main !important;
    }
    .sitetable .comment .comment {
        background-color: $nm-color-bg-secondary !important;
        .comment .comment {
            background-color: $nm-color-bg-secondary !important;
            .comment .comment {
                background-color: $nm-color-bg-secondary !important;
                .comment .comment {
                    background-color: $nm-color-bg-secondary !important;
                    .comment .comment {
                        background-color: $nm-color-bg-secondary !important;
                        .comment .comment {
                            background-color: $nm-color-bg-secondary !important;
                            .comment .comment {
                                background-color: $nm-color-bg-secondary !important;
                                .comment .comment {
                                    background-color: $nm-color-bg-secondary !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sitetable .comment {
        background-color: $nm-color-bg-main !important;
        .comment .comment {
            background-color: $nm-color-bg-main !important;
            .comment .comment {
                background-color: $nm-color-bg-main !important;
                .comment .comment {
                    background-color: $nm-color-bg-main !important;
                    .comment .comment {
                        background-color: $nm-color-bg-main !important;
                        .comment .comment {
                            background-color: $nm-color-bg-main !important;
                            .comment .comment {
                                background-color: $nm-color-bg-main !important;
                                .comment .comment {
                                    background-color: $nm-color-bg-main !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    button {
        background-color: $nm-color-bg-main !important;
    }
    a {
        color: #f8f8ff;
    }
    #header-bottom-left .tabmenu,
    .new-comment .usertext-body {
        background-color: transparent;
        border: none;
    }
    #header-img.default-header {
        background-color: transparent !important;
    }
    .sidecontentbox .title:after {
        display: block;
        position: absolute;
        z-index: -1;
        border-color: transparent $nm-color-bg-secondary transparent transparent !important;
    }
    div.titlebox {
        .md {
            h2:after,
            h3:after,
            h4:after {
                display: block;
                position: absolute;
                z-index: -1;
                border-color: transparent $nm-color-bg-secondary transparent transparent !important;
            }
        }
        h1:after {
            display: block;
            position: absolute;
            z-index: -1;
            border-color: transparent $nm-color-bg-secondary transparent transparent !important;
        }
    }
    #previoussearch #moresearchinfo {
        color: #eee !important;
    }
    .md {
        color: #eee !important;
        blockquote,
        del {
            color: #eee !important;
        }
    }
    .roundfield label,
    .search-result-body,
    div.side #searchexpando {
        color: #eee !important;
    }
    .submit-page .roundfield .title {
        color: #eee;
    }
    .md blockquote {
        background: rgba(0, 87, 166, 0.24);
    }
    #header #header-bottom-right {
        #mail:hover,
        #modmail:hover,
        .choice:hover,
        .logout:hover,
        .user:hover {
            background-color: $nm-color-bg-secondary !important;
        }
    }
    #header-bottom-left .tabmenu li.selected a,
    .nextprev a:hover,
    .side .morelink a:hover,
    button:hover {
        background-color: $nm-color-bg-secondary !important;
    }
    .debuginfo {
        background: $nm-color-bg-secondary !important;
    }
    .thing {
        .title:visited,
        &.visited .title {
            color: #808c94;
        }
        .title {
            color: #B5C4D0;
        }
    }
    .listing-page .link:hover {
        background: $nm-color-bg-secondary !important;
        border-left-color: #a9a9a9 !important;
    }
    div.titlebox .md ul li:hover {
        background-color: $nm-color-bg-secondary !important;
        border-left-color: rgba(6, 102, 178, 0.5) !important;
    }
    .footer {
        border-right: none !important;
        border-top: none;
    }
    a[href*="#square"]::before {
        border: 3px solid $nm-color-bg-secondary;
    }
    .content.submit .info-notice,
    .submit-page .roundfield {
        background-color: $nm-color-bg-main;
        color: #eee;
    }
    .sidecontentbox a.helplink:hover {
        background-color: $nm-color-bg-secondary !important;
    }
    #header #header-bottom-right #mail.havemail {
        outline: 0;
    }
    .tagline .likes {
        color: $color-bg-secondary !important;
    }
     ::-webkit-scrollbar {
        background-color: $nm-color-bg-secondary;
    }
     ::-webkit-scrollbar-thumb {
        background-color: #666;
        border: 2px solid #333;
        transition: background-color 0.5s;
        &:hover {
            background-color: #555;
            transition: background-color 0.5s;
        }
        &:active {
            background-color: #bbb;
        }
    }
     ::-webkit-scrollbar-corner {
        color: #555;
    }
    .tagline .submitter {
        color: $color-bg-secondary !important;
    }
    .formtabs-content .infobar {
        border-color: transparent !important;
    }
    .infobar {
        border-color: #ff4500 !important;
    }
    #eu-cookie-policy .reddit-infobar p {
        color: $nm-color-bg-main !important;
    }
    .comment .usertext .md p>a:visited,
    .md a,
    .res.res-nightmode .tagline a,
    h2 a:visited {
        color: #3498db;
    }
    .res {
        .RES-keyNav-activeElement {
            background-color: transparent !important;
        }
        .commentarea .RES-keyNav-activeElement {
            .md,
            &.entry .noncollapsed html[lang^=nm] .RES-keyNav-activeElement .md-container {
                background-color: transparent !important;
            }
        }
    }
    .md blockquote {
        border-left: 2px solid $color-bg-secondary !important;
        color: #888 !important;
    }
    span.score {
        color: #888 !important;
    }
    .author[href$=jenmsft],
    .buttons .comments.empty,
    .comments-page .link .flat-list a.flairselectbtn,
    .entry .flat-list .report-button a,
    .helplink~.content .author::after {
        color: $color-bg-secondary !important;
    }
    .md code {
        border: none !important;
        background-color: $nm-color-bg-secondary !important;
        border-radius: 0 !important;
        border-left: 3px solid $color-bg-secondary !important;
    }
    .RES-keyNav-activeElement {
        background-color: #292929 !important;
        .md-container {
            background-color: #292929 !important;
        }
    }
    .res {
        .RES-keyNav-activeElement {
            background-color: #292929 !important;
        }
        .commentarea .RES-keyNav-activeElement {
            .md,
            &.entry .noncollapsed {
                background-color: #292929 !important;
            }
        }
    }
    .commentingAs,
    .date time,
    .edit-stylesheet.choice:after,
    .linkinfo .score,
    .wiki-page .wiki-page-content {
        color: $nm-color-text !important;
    }
    .titlebox form.toggle {
        background: $nm-color-bg-main;
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        color: #eee;
    }
    div.titlebox span.fancy-toggle-button a.active.remove {
        background-color: $nm-color-bg-secondary !important;
    }
    .comment.spam>.child,
    .message.spam>.child,
    .usertext.grayed .usertext-body {
        background-color: transparent;
    }
    div.commentarea .infobar {
        color: #eee;
        border: none;
    }
    a[href*='#icon-day'] {
        display: inline-block !important;
        &::before {
            display: inline-block !important;
        }
    }
    a[href*='#icon-night'] {
        display: none;
    }
    #search input[type=text] {
        background: $nm-color-bg-main !important;
    }
    .icon-menu li:hover,
    .reddit-link:hover {
        background-color: $nm-color-bg-secondary !important;
        border-left-color: rgba(6, 102, 178, 0.5) !important;
    }
    .sidecontentbox {
        .content a.author:hover,
        .more:hover {
            background-color: $nm-color-bg-secondary !important;
            border-left-color: rgba(6, 102, 178, 0.5) !important;
        }
    }
    .icon-menu li {
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
    }
    .linkinfo {
        .score,
        .shortlink {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    .reddit-link {
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
    }
    .sidecontentbox {
        .content a.author,
        .more {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    textarea {
        color: #000 !important;
    }
    .shortlink input {
        background: $nm-color-bg-secondary;
        color: $nm-color-text;
    }
    .date {
        span,
        time {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
}

.res-nightmode .date:after,
html[lang^=nm] .date:after {
    border-color: transparent $nm-color-bg-secondary transparent transparent !important;
}

.res-nightmode .date span,
html[lang^=nm] .date span {
    border-left: 5px solid $nm-color-bg-secondary !important;
    color: $nm-color-text;
    border-right-color: $nm-color-bg-secondary;
}

.res-nightmode .date time,
html[lang^=nm] .date time {
    border-right: 1px solid $nm-color-bg-secondary !important;
}

.res-nightmode .link.last-clicked,
html[lang^=nm] .link.last-clicked {
    background: $nm-color-bg-secondary !important;
}

.res-nightmode,
html[lang^=nm] {
    a[href*="#Donsiders"],
    a[href*="#btn"] {
        color: #fff!important;
    }
    .comment {
        border: 1px solid #43474F;
    }
}

//nightmode icons
//threads
.res-nightmode,
html[lang^=nm] {
    body>.content #siteTable .thing.self .thumbnail {
        background-position: -77px -5px;
    }
    body>.content #siteTable .thing .thumbnail.default {
        background-position: -174px -77px;
    }
    //sidebar icons
    div.side span.subscribers span.number:before {
        background-position: -162px -5px;
    }
    a[href*='#icon-day']::before {
        display: none;
        height: 20px;
        width: 20px;
        content: '';
        margin: 0 7px -4px 0;
        background: url(%%spritesheet%%) -85px -294px;
    }
    a[href*="#icon-chat"]::before {
        background-image: url(%%wincore-2%%);
        background-position: -5px -405px;
    }
    a[href*="#icon-feedback"]::before {
        background-position: -47px -149px;
    }
    a[href*="#icon-feedback2"]::before {
        background-position: -5px -375px;
    }
    a[href*="#iconz-tips"]::before {
        background-position: -234px -47px;
    }
    a[href*="#iconz-updates"]::before {
        background-position: -259px -119px;
    }
    a[href*="#iconz-faq"]::before {
        background-position: -174px -47px;
    }
    a[href*="#iconz-install"]::before {
        background-position: -259px -119px;
    }
    a[href*="#iconz-wiki"]::before {
        background-position: -204px -149px;
    }
    //res expandos
    .expando-button.selftext.collapsed {
        background-position: -5px -242px;
        &:hover {
            background-position: -225px -204px;
        }
    }
    .expando-button.selftext.expanded {
        background-position: -65px -204px;
        &:hover {
            background-position: -105px -204px;
        }
    }
    .expando-button.video.collapsed {
        background-position: -85px -242px;
        &:hover {
            background-position: -45px -242px;
        }
    }
    .expando-button.video.expanded {
        background-position: -65px -204px;
        &:hover {
            background-position: -105px -204px;
        }
    }
}