 //colorscheme
 $color-bg-main: #BF0426;
 $color-bg-secondary: #7A0218;
 //header snow
 #header {
     background-image: url(%%snow%%), url(%%snow2%%), url(%%snow3%%);
     animation: snow 20s linear infinite;
     -webkit-animation: snow 20s linear infinite;
     -moz-animation: snow 20s linear infinite;
 }
 
 @keyframes snow {
     from {
         background-position: 0 0, 0 0, 0 0
     }
     to {
         background-position: 500px 1000px, 400px 400px, 300px 300px
     }
 }
 
 @-webkit-keyframes snow {
    from {
         background-position: 0 0, 0 0, 0 0
     }
     to {
         background-position: 500px 1000px, 400px 400px, 300px 300px
     }
 }
 
 @-moz-keyframes snow {
     from {
         background-position: 0 0, 0 0, 0 0
     }
     to {
         background-position: 500px 1000px, 400px 400px, 300px 300px
     }
 }
 