//colors
$color-bg-main: #2D4059;
$color-bg-secondary: #47658c;
$color-bg-alt: #EA5455;
$color-bg-light-hover: #fffafa;
$color-borders-light: #d7ecff;
$color-border-left-hover: #eea7aa;
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
.pagename {
    margin: 0 15px 0 0;
    display: inline-block;
    font-size: 70px;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 46px;
    text-transform: capitalize;
    font-family: $font-main;
    bottom: 69px;
    position: absolute;
    left: 10px;
    a:hover {
        text-decoration: none;
    }
    a:before {
        content: "/r/";
        color: #ddd;
        text-transform: lowercase;
    }
}

//legacy unchecked
.side .md blockquote {
    padding: 4px 10px 4px;
    border-left: 5px solid #f5c684;
    background-color: #fef8f1;
    border-bottom: 1px solid #d7ecff;
    border-right: 1px solid #d7ecff;
    font-size: 11px;
    margin-right: 5px;
    margin-left: 0px;
    margin: 0px 5px 0px 0px;
    color: #222222;
    &:hover {
        background-color: #fcecd9;
        border-left-color: #f0ad4e;
    }
}

.side .md [href$="#btn-y"] {
    display: block!important;
    font-size: 16px;
    border: 1px solid #f0ad4e;
    font-family: "Segoe UI", sans-serif;
    padding: 9px 12px;
    margin-right: 5px;
    transition: background-color .5s;
    text-align: center;
    margin-top: 10px;
    color: #f0ad4e;
    &:hover {
        background: #f0ad4e;
        color: #fff;
    }
}