//colors
$color-bg-main: #0666B2;
$color-bg-secondary: #01B7F1;
$color-bg-alt: #01B7F1;
// $color-bg-light-hover: #fffafa; 
// $color-borders-light: #d7ecff;
// $color-border-left-hover: #eea7aa;
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
//moderators
.helplink~.content .author {
  &[href*=Jaskys]:after {
    content: '- Designer';
  }
}

.pagename a {
    position: absolute;
    top: 19px;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -9999em;
}
#header-bottom-left {
    background: url(%%mb-header%%) no-repeat 0% 70%;
    height: 140px;
}
//Microsoft community button
.side .md a[href="https://discord.gg/microsoft"] {
    z-index: 1;
    text-indent: -9999px;
    background-image: url(%%discord%%);
    background-position: -5px -5px;
    position: relative;
    height: 90px;
    width: 295px;
    display: block;
    margin: 10px 0;
    border-radius: 3px;
    &:after {
      content: "";
      background-image: url(%%discord%%);
      background-position: -5px -105px;
      transition: ease-out opacity 0.7s;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
    }
    &:hover::after {
      opacity: 1;
    }
  }