//variables
$sub-name: "Windows";
$tabmenu-offset: 163px;

//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore',
'windows/enhancements';
//color #1570A6
//moderators
.helplink~.content .author {
  // &[href*=#{$head-mod}]:after {
  //   content: '- Head Moderator';
  // }
  &[href*=Jaskys]:after {
    content: '- Designer';
  }
}

//kylde's flair
.flair-jansmall:before {
  content: "";
  width: 17px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(%%jansmall%%);
  background-position: -0px -0px;
  vertical-align: middle;
  margin-right: 2px
}

//nav promoted sub
a[href$="WindowsApps#2"] {
  position: absolute;
  top: 134px;
  left: 112px;
  color: #ddd !important;
  z-index: 99;
  border-bottom: 2px solid transparent !important;
  text-transform: uppercase;
  transition: all .15s ease-in-out;
  line-height: 14px;
  height: 22px;
  padding: 8px 9px 0;
  font-size: 11.4px !important;
  letter-spacing: 0.1em;
  font-family: $font-main;
  &:hover {
    color: #fff!important;
    background: $color-bg-secondary;
    border-color: #fff!important;
  }
}
/*

    Mod tools reason leaver
    ===================

    Valid Tokens:
    =============
    {subreddit} - The subreddit the post/comment was posted to.
    {author} - The author of the link/comment
    {kind} - The type of post, either 'submission' or 'comment'
    {mod} - The name of the mod removing the post (you)
    {title} - The title of the submission
    {url} - url to the removed post

    * These tokens will be replaced with the relavent info when the message is sent.
    * When the reason is sent via PM, a link to the removed post is added to the bottom of the message.

<removereasons>

    <reason> Spam - Removed </reason>

</removereasons>
*/