//variables
$sub-name: "Windows";
$tabmenu-offset: 114px;
//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore',
'windows/enhancements';
// 'seasonal/snow'; 
//color #1570A6
//moderators
.helplink~.content .author {
  &[href*=Jaskys]:after {
    content: '- Head Developer';
  }
  &[href*=dAKirby309]:after {
    content: '- Graphic Designer';
  }
  &[href*=TheTimeWalker]:after {
    content: '- Supporting Developer';
  }
}