//variables
$sub-name: "Windows 10";
//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore',
'windows/enhancements';
@import 'seasonal/snow';
//moderators
.helplink~.content .author {
  &[href*=Jaskys]::after {
    content: '- Designer';
    font-size: 0.945em;
    margin-left: 5px;
    color: $color-bg-main;
  }
  &[href*=Izick]::after {
    content: '- Head Moderator';
    font-size: 0.945em;
    margin-left: 5px;
    color: $color-bg-main;
  }
  &[href*=AppropriateUzername]::after,
  &[href*=Swaggy_McSwagSwag]::after,
  &[href*=astral_lariat]::after,
  &[href*=dAKirby309]::after,
  &[href*=etacarinae]::after,
  &[href*=jeffreymcclain]::after,
  &[href*=siraramis]::after,
  &[href*=xByteZz]::after {
    content: '- Moderator';
    font-size: 0.945em;
    margin-left: 5px;
    color: $color-bg-main;
  }
}