//variables
$sub-name: "Windows";
$tabmenu-offset: 114px;
//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore',
'windows/enhancements',
'seasonal/snow';
//color #1570A6
//moderators
.helplink~.content .author {
  &[href*=Jaskys]:after {
    content: '- Developer & designer';
  }
  &[href*=dAKirby309]:after {
    content: '- Graphic designer';
  }
  &[href*=TheTimeWalker]:after {
    content: '- Assisting developer';
  }
}

//kylde's flair
.flair-jansmall:before {
  content: "";
  width: 17px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(%%jansmall%%);
  background-position: 0 0;
  vertical-align: middle;
  margin-right: 2px
}