//variables
$sub-name: "Windows 10";
$tabmenu-offset: 163px;
//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore',
'windows/enhancements';
//moderators
.helplink~.content .author {
  &[href*=Jaskys]:after {
    content: '- Developer & designer';
  }
  &[href*=dAKirby309]:after {
    content: '- Graphic designer';
  }
  &[href*=TheTimeWalker]:after {
    content: '- Assisting developer';
  }
  &[href*=tinytaco8]:after {
    content: '- Discord moderator';
  }
}

//nav promoted sub
a[href$="WindowsApps#2"] {
  position: absolute;
  top: 134px;
  left: 112px;
  color: #ddd !important;
  z-index: 99;
  border-bottom: 2px solid transparent !important;
  text-transform: uppercase;
  transition: all .15s ease-in-out;
  line-height: 14px;
  height: 22px;
  padding: 7px 9px 0;
  font-size: 11.4px !important;
  letter-spacing: 0.1em;
  font-family: $font-main;
  &:hover {
    color: #fff!important;
    background: $color-bg-secondary;
    border-color: #fff!important;
  }
}