//variables
$sub-name: "Windows Mobile";
$tabmenu-offset: 123px;
//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore';
//moderators
.helplink~.content .author {
    &[href*=Jaskys]::after {
        content: '- Designer';
        font-size: 0.945em;
        margin-left: 5px;
        color: $color-bg-main;
    }
}

//mobile icons
a[href*='#icon-']+.keyNavAnnotation {
    display: none;
}

a[href*='#icon-']:hover {
    text-decoration: none;
}

a[href*='#icon-']::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: '';
    margin: 0 5px -1px 0;
    background: url(%%Skype%%) no-repeat top left;
}

a[href*='#icon2-']::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: '';
    margin: 0 5px -1px 0;
    background: url(%%Twitter%%) no-repeat top left;
}

a[href*='#icon3-']::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: '';
    margin: 0 5px -1px 0;
    background: url(%%WindowsM%%) no-repeat top left;
}

a[href*='#icon4-']::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: '';
    margin: 0 5px -1px 0;
    background: url(%%SmartphoneTablet%%) no-repeat top left;
}

a[href*='#icon5-']::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: '';
    margin: 0 5px -1px 0;
    background: url(%%Updates%%) no-repeat top left;
}

a[href*='#icon6-']::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: '';
    margin: 0 5px -1px 0;
    background: url(%%Star%%) no-repeat top left;
}

a[href*='#icon7-']::before {
    display: inline-block;
    height: 16px;
    width: 16px;
    content: '';
    margin: 0 5px -1px 0;
    background: url(%%AppHighlight%%) no-repeat top left;
}

//user flairs
.flair:before {
    content: "";
    width: 10px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(%%flair-phones%%);
    vertical-align: middle;
    margin-right: 3px;
}

.flair {
    cursor: help;
}

.flair-userGray:before {
    background-position: 0 0;
}

.flair-userPink:before {
    background-position: -16px 0;
}

.flair-userLime:before {
    background-position: -32px 0;
}

.flair-userOrange:before {
    background-position: -48px 0;
}
.test {
    color: red;
}
.flair-userBlue:before {
    background-position: -64px 0;
}

.flair-userTeal:before {
    background-position: -80px 0;
}

.flair-userYellow:before {
    background-position: -96px 0;
}

.flair-userPurple:before {
    background-position: -112px 0;
}

.flair-userGreen:before {
    background-position: -128px 0;
}

.flair-userRed:before {
    background-position: -144px 0;
}

.flair-userDarkPink:before {
    background-position: -160px 0;
}

.flair-userBrown:before {
    background-position: -176px 0;
}

.flair-userBlack:before {
    background-position: -192px 0;
}

//names
.helplink~.content .author[href*="AutoModerator"] {
    font-size: 0;
    content: '';
}

.helplink~.content .author[href*="AutoModerator"]::before {
    content: 'Joe Belfiore';
    font-size: 8pt;
}

a.author[href$="AutoModerator"]::before {
    content: "Joe Belfiore";
    color: #369;
    font-size: x-small;
}

a[href$='AutoModerator'].author {
    margin-right: 0.5em;
    font-size: 0;
}

.comment .author[href$="AutoModerator"] {
    font-weight: bold;
    font-size: 0;
}

//nav promoted subs
a[href$="Windows10#2"] {
    position: absolute;
    top: 135px;
    left: 48px;
    color: #ddd !important;
    z-index: 99;
    border-bottom: 3px solid transparent !important;
    text-transform: uppercase;
    transition: all .15s ease-in-out;
    line-height: 14px;
    height: 20px;
    padding: 8px 9px 0;
    font-size: 11.4px !important;
    letter-spacing: 0.1em;
    font-family: $font-main;
    &:hover {
        color: #fff!important;
        background: rgba(0, 0, 0, 0.1);
        border-color: #fff!important;
    }
}

//nav promoted sub
a[href$="WindowsApps#2"] {
  position: absolute;
  top: 134px;
  left: 112px;
  color: #ddd !important;
  z-index: 99;
  border-bottom: 2px solid transparent !important;
  text-transform: uppercase;
  transition: all .15s ease-in-out;
  line-height: 14px;
  height: 22px;
  padding: 8px 9px 0;
  font-size: 11.4px !important;
  letter-spacing: 0.1em;
  font-family: $font-main;
  &:hover {
    color: #fff!important;
    background: $color-bg-secondary;
    border-color: #fff!important;
  }
}