//variables
$sub-name: "Windows";
$tabmenu-offset: 115px;
//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore',
'windows/enhancements';
//color #1570A6
//moderators
.helplink~.content .author {
  &[href*=Jaskys]::after {
    content: '- Designer';
    font-size: 0.945em;
    margin-left: 5px;
    color: $color-bg-main;
  }
  &[href*=AppropriateUzername]::after,
  &[href*=Swaggy_McSwagSwag]::after,
  &[href*=astral_lariat]::after,
  &[href*=dAKirby309]::after,
  &[href*=etacarinae]::after,
  &[href*=jeffreymcclain]::after,
  &[href*=siraramis]::after,
  &[href*=xByteZz]::after,
  &[href*=SpinningPissingRabbi]::after,
  &[href*=cynycal]::after,
  &[href*=panickedthumb]::after {
    content: '- Moderator';
    font-size: 0.945em;
    margin-left: 5px;
    color: $color-bg-main;
  }
}

//kylde's flair
.flair-jansmall:before {
  content: "";
  width: 17px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(%%jansmall%%);
  background-position: -0px -0px;
  vertical-align: middle;
  margin-right: 2px
}


/*

    Mod tools reason leaver
    ===================

    Valid Tokens:
    =============
    {subreddit} - The subreddit the post/comment was posted to.
    {author} - The author of the link/comment
    {kind} - The type of post, either 'submission' or 'comment'
    {mod} - The name of the mod removing the post (you)
    {title} - The title of the submission
    {url} - url to the removed post

    * These tokens will be replaced with the relavent info when the message is sent.
    * When the reason is sent via PM, a link to the removed post is added to the bottom of the message.

<removereasons>

    <reason> Spam - Removed </reason>

</removereasons>
*/