//variables
$sub-name: "Windows 10";
$tabmenu-offset: 114px;
//assets
@import 'core/core',
'core/side',
'core/profile',
'core/stickies',
'core/nightmode',
'core/RES',
'core/footer';
@import 'windows/wincore',
'windows/enhancements',
'seasonal/snow';
//moderators
.helplink~.content .author {
  &[href*=Jaskys]:after {
    content: '- Developer & designer';
  }
  &[href*=dAKirby309]:after {
    content: '- Graphic designer';
  }
  &[href*=TheTimeWalker]:after {
    content: '- Assisting developer';
  }
}