/* 
Designed by /u/Jaskys
/r/ClearShift theme base
Contributors: /u/supersmilers, /u/mtvee, /u/BatDogOnBatMobile, /u/MrLawbreaker
Icons provided by www.icons8.com under "Creative Commons Attribution-NoDerivs 3.0 Unported" license
Main color: #0057A6
Secondary: #0078D7
Christmas
Main color: #BF0426
Secondary: #7A0218
*/

$font-main: "Segoe UI",
sans-serif;
$font-light: "Segoe UI Light",
sans-serif;
$color-bg-main: #0057A6 !default;
$color-bg-secondary: #0078D7 !default;
$color-bg-active: #1686f0 !default;
$color-win: #0078D7 !default;
//$color-side-accent: #000;
$color-bg-light-hover: #f0f8ff;
//viewports
$breakpoint-1: 880px;
$wide-screen: "(max-width: #{$breakpoint-1})";
#header {
  height: 165px;
  background: $color-bg-main;
  border-bottom: none;
  #header-bottom-right {
    #mail {
      &.havemail:active,
      &.nohavemail:active {
        background-color: #1686f0 !important;
      }
    }
    .choice:active,
    .logout a:active {
      background-color: #1686f0 !important;
    }
  }
  [href$="/rising/"],
  [href$="/controversial/"],
  [href$="/ads/"] {
    display: none !important;
  }
  #header-bottom-right #mail.havemail,
  #modmail.havemail {
    animation: 1s ease-out 0s normal none infinite running pulsate;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-name: pulsate;
  }
}

#header .hover a:hover,
.redditname a:hover:after {
  color: #fff !important;
}

#header-bottom-left {
  height: 140px;
  .tabmenu li a:active {
    background-color: #1686f0 !important;
  }
  .tabmenu {
    background: rgba(0, 0, 0, 0.2);
    width: calc(100% - 115px);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 115px;
    font-family: $font-main;
    li {
      font-weight: 400;
      margin: 0;
      a {
        background: 0 0;
        color: #ddd;
        font-size: 11.4px;
        font-family: $font-main;
        line-height: 30px;
        padding: 8px 9px 6px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transition: all .15s ease-in-out;
        border-bottom: 3px solid transparent !important;
        &:hover {
          color: #fff;
          background: rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid #fff !important;
        }
      }
      &.selected a {
        background-color: $color-bg-secondary;
        border: 0;
        color: #fff;
        padding-top: 7px;
        font-weight: 700;
        border-bottom: 3px solid currentColor !important;
      }
    }
  }
}

#header-bottom-right {
  #modmail,
  .user {
    height: 37px;
    white-space: nowrap;
    border-radius: 1px;
    overflow: hidden;
    transition: background-color 0.5s;
  }
  #modmail:active,
  .user:active {
    background-color: #1686f0 !important;
  }
}

#header-img {
  text-indent: -9999px;
  display: inline-block;
  margin-top: 112px;
  position: absolute;
  z-index: 99;
  height: 27px;
  width: 27px;
  margin-left: 4px;
  padding-right: 11px;
  padding-left: 8px;
  opacity: .8;
  background-repeat: no-repeat !important;
  transition: all .15s ease-in-out;
  border-bottom: 3px solid transparent !important;
  &:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.1);
    font-weight: 500;
    border-bottom: 3px solid #fff !important;
  }
}

#sr-header-area {
  transition: opacity .3s;
  opacity: .4;
  height: 24px;
  background-color: #0C1722;
  border-bottom: 0;
  letter-spacing: 1px;
  line-height: 22px;
  &:hover {
    opacity: 1;
  }
  a {
    color: #c4c4c4;
    font-family: $font-main;
  }
  .srdrop.dropdown {
    width: 35px;
    padding: 0;
  }
  .sr-list {
    padding-left: 8px;
    border-left: 2px solid rgba(196, 196, 196, 0.9);
    height: 24px;
    line-height: 25px;
  }
  .srdrop.dropdown .selected {
    width: 35px;
    height: 23px;
    padding: 0;
    margin: 0;
    display: block;
    background: url(%%spritesheet%%) -225px -252px no-repeat;
    line-height: 35px;
    text-indent: -999em;
    &:hover {
      opacity: 1;
    }
  }
  .drop-choices {
    &.srdrop {
      padding: 5px;
      margin: 1px 0 0;
      background: #222;
      border: none;
    }
    a.choice {
      color: #AEAEAE;
      &:hover {
        background-color: #333;
        color: #EEE;
      }
    }
    .choice.bottom-option {
      border-color: #AEAEAE;
    }
  }
}

#sr-more-link {
  display: none !important;
}

#url-field button,
.submit-page .content button[name=submit] {
  background: 0 0;
  transition: all .5s;
  border: 1px solid #5cb85c;
  color: #5cb85c;
  &:hover {
    background: #5cb85c;
    color: #fff;
  }
}

//submission text - 2 lines max
.submit-page .tabmenu.formtab {
    margin-bottom: 74px;
}

.submit_text.roundfield.enabled {
  background: #1992ff;
}

.submit_text p {
  color: #eee;
}

button {
  &.save,
  &.submit-action-thing,
  &.submit-report {
    background: 0 0;
    transition: background-color .5s;
    text-transform: capitalize;
    font-family: $font-main;
    border: 1px solid #5cb85c;
    color: #5cb85c;
    padding: 0.25rem 0.75rem;
  }
  &.save:hover,
  &.submit-action-thing:hover,
  &.submit-report:hover {
    background: #5cb85c;
    color: #fff;
  }
  &.cancel,
  &.cancel-action-thing,
  &.cancel-report-thing {
    border: 1px solid #d9534f;
    background: 0 0;
    color: #d9534f;
    padding: .25rem .75rem;
    text-transform: capitalize;
    font-family: $font-main;
    transition: background-color 0.5s;
  }
  &.cancel-action-thing:hover,
  &.cancel-report-thing:hover,
  &.cancel:hover {
    background: #d9534f;
    color: #fff;
  }
}

.next-suggestions a,
.nextprev a {
  padding: 0 4px;
  background: 0 0;
  border: none;
  color: $color-bg-secondary;
  text-align: center;
  &:hover {
    background: $color-bg-secondary;
    border: none;
    color: #fff;
    outline: 0;
  }
}

.btn:active,
.gadget .right a:active,
.morelink a:active,
.sidecontentbox a.helplink:active,
button:active {
  background-color: #1686f0 !important;
}

.comment {
  position: relative;
  padding: 4px 0 0 30px;
  z-index: 1;
  border: 2px solid #e6e6e6;
  overflow: hidden;
  margin: 0 18px 8px 0;
  .expand {
    transition: background-color .5s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 4px;
    &:hover {
      background: $color-bg-secondary;
      color: #FFF !important;
      text-decoration: none;
    }
  }
  &.collapsed .tagline {
    height: 21px;
    line-height: 21px;
    a {
      line-height: 13px;
    }
  }
  .child,
  .showreplies {
    border-left: none;
  }
}

.new-comment {
  border-color: #FFAB91!important;
  .expand:hover {
    background: #ffab91;
  }
  .usertext-body {
    background-color: transparent;
    border: none;
  }
}

.tagline {
  .score {
    font-weight: 700;
  }
  .likes {
    color: $color-bg-main;
  }
}

.entry .flat-list .reply-button a {
  color: $color-bg-main;
}

.link .domain {
  visibility: hidden;
  a {
    visibility: visible;
    position: relative;
    top: -1px;
    color: #b1b1b1;
    transition: all 0.15s ease;
  }
}

.domain {
  display: inline-block !important;
}

//frontpage advert
#siteTable_organic {
  background: rgba(6, 102, 178, 0.1);
  margin-right: 325px;
  margin-top: -7px;
  left: -5px;
  border-left: 3px solid #ff4500;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-top: none;
}

.organic-listing .link.promotedlink {
  margin-left: -1px;
}

.flairselector {
  border: 1px solid $color-bg-main !important;
  .title {
    font-size: 0 !important;
  }
  h2 {
    color: #fff;
    font-size: 13px;
    background: $color-bg-main !important;
    padding-top: 6px;
    font-weight: lighter !important;
    text-transform: capitalize;
    padding-bottom: 6px;
  }
  li:hover {
    background-color: transparent;
  }
  form {
    border-top: solid 1px $color-bg-main;
    margin-bottom: 10px;
  }
  &.drop-choices.active {
    padding: 0 !important;
    box-shadow: none;
  }
  .linkflair {
    border-left: none !important;
    background: 0 0;
    width: 110px;
  }
}

.flairoptionpane {
  max-height: 304px;
  li,
  ul {
    min-width: 120px;
    padding: 3px;
  }
}

.comments-page .link .flat-list a.flairselectbtn {
  color: $color-bg-main !important;
}

.nextprev a,
.side .usertext-body .md ol a {
  transition: background-color 0.5s;
}

.submit-page {
  .roundfield {
    padding: 16px;
    width: 525px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    span.title {
      color: #4d5763;
      text-transform: capitalize;
    }
  }
  .submit.content#newlink .tabmenu.formtab {
    a {
      padding: 16px;
      display: inline-block;
      text-align: center;
      background-color: #f5f5f5;
      color: #4d5763;
      text-transform: uppercase;
      font-weight: 700;
      transition: all .25s ease;
      font-size: 16px;
      border: none;
      width: 247.5px;
      &:hover {
        background-color: #e7e9f6;
      }
    }
    .selected a {
      font-size: 16px;
      background-color: $color-bg-main;
      color: #fff;
      &:hover {
        background-color: $color-bg-secondary;
      }
    }
  }
  //no longer works
  // .infobar {
  //   width: 525px;
  //   margin: -10px 0 0;
  //   padding: 10px;
  //   color: #fff;
  //   background-color: $color-bg-main;
  //   border-radius: 0 0 2px 2px;
  //   font-size: 0;
  //   border: 1px solid rgba(0, 0, 0, 0.1) !important;
  //   &::before {
  //     font-size: 14px;
  //     content: "The key to a successful submission is interesting content and a descriptive title. Make sure your thread doesn't break any rules by glancing at them on the sidebar.";
  //     color: #fff;
  //     font-family: $font-main;
  //   }
  // }
  #newlink.submit.content .btn {
    width: 558px;
    height: auto;
    text-transform: capitalize;
    font-size: 17px;
    padding: 16px;
    text-align: center;
    &:after {
      content: " your thread";
      text-transform: none;
    }
  }
}

.formtabs-content {
  width: 520px;
  border-top: none;
  margin-top: -15px;
}

form .spacer+.spacer {
  margin: 0;
}

.content.submit .info-notice {
  background-color: #fff;
  border-radius: 2px;
  padding: 16px;
  margin-bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

//text expando animation
.self .expanded~.expando .usertext-body {
  -webkit-animation: 700ms expandy ease-in-out forwards;
  animation: 700ms expandy ease-in-out forwards;
}

@-webkit-keyframes expandy {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes expandy {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//expandos
.expando-button {
  cursor: pointer;
  float: left;
  height: 28px;
  width: 30px;
  &.selftext {
    &.collapsed,
    &.expanded {
      background-image: url(%%spritesheet%%);
      background-repeat: no-repeat;
      &:hover {
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;
      }
    }
    &.collapsed {
      background-position: -195px -256px;
      &:hover {
        background-position: -155px -256px;
      }
    }
    &.expanded {
      background-position: -265px -218px;
      &:hover {
        background-position: -305px -218px;
      }
    }
  }
  &.video {
    &.collapsed {
      background-image: url(%%spritesheet%%) !important;
      &:hover {
        background-image: url(%%spritesheet%%) !important;
      }
    }
    &.expanded {
      background-image: url(%%spritesheet%%) !important;
    }
    &.collapsed {
      background-position: -301px -256px;
      &:hover {
        background-position: -261px -256px;
      }
    }
    &.expanded {
      background-position: -265px -218px;
      &:hover {
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;
        background-position: -305px -218px;
      }
    }
  }
  &.image {
    cursor: pointer;
    display: inline-block;
    height: 28px !important;
    margin-right: 11px;
    padding: 0;
    vertical-align: top !important;
    width: 30px !important;
  }
}

//high dpi spaghetios
@media only screen and (min-resolution: 2dppx),
only screen and (-webkit-min-device-pixel-ratio: 2) {
  .expando-button {
    cursor: pointer;
    float: left;
    height: 28px;
    width: 30px;
    background: center center no-repeat #fff;
    background-size: 341px 331px!important;
    &.selftext {
      &.collapsed,
      &.expanded {
        background-image: url(%%spritesheet%%);
        background-repeat: no-repeat;
        &:hover {
          background-image: url(%%spritesheet%%);
          background-repeat: no-repeat;
        }
      }
      &.collapsed {
        background-position: -195px -256px;
        &:hover {
          background-position: -155px -256px;
        }
      }
      &.expanded {
        background-position: -265px -218px;
        &:hover {
          background-position: -305px -218px;
        }
      }
    }
    &.video {
      &.collapsed {
        background-image: url(%%spritesheet%%) !important;
        &:hover {
          background-image: url(%%spritesheet%%) !important;
        }
      }
      &.expanded {
        background-image: url(%%spritesheet%%) !important;
      }
      &.collapsed {
        background-position: -301px -256px;
        &:hover {
          background-position: -261px -256px;
        }
      }
      &.expanded {
        background-position: -265px -218px;
        &:hover {
          background-image: url(%%spritesheet%%);
          background-repeat: no-repeat;
          background-position: -305px -218px;
        }
      }
    }
    &.image {
      cursor: pointer;
      display: inline-block;
      height: 28px !important;
      margin-right: 11px;
      padding: 0;
      vertical-align: top !important;
      width: 30px !important;
    }
  }
  body>.content #siteTable .thing.self .thumbnail {
    background-image: url(%%spritesheet%%);
    background-position: -289px -139px;
    background-size: 341px 331px;
  }
}

.link .usertext-body .md {
  border-radius: 0 !important;
  border: 1px solid #01b7f1;
  background-color: #fff;
}

body>.content #siteTable .thing {
  &.self .thumbnail {
    background-image: url(%%spritesheet%%);
    width: 45px;
    height: 45px;
    margin: 10px 15px 10px 10px;
    background-repeat: no-repeat !important;
    background-position: -289px -139px;
  }
  &.stickied .thumbnail {
    background-image: url(%%spritesheet%%);
    background-repeat: no-repeat !important;
    background-position: -289px -84px;
    margin-right: 15px;
  }
  .thumbnail.default,
  &.over18 .thumbnail {
    background-image: url(%%spritesheet%%) !important;
    background-repeat: no-repeat !important;
    margin: 10px 15px 10px 10px;
    width: 45px;
    height: 45px;
  }
  &.stickied .entry>.title .title {
    color: #00a64f;
    font-weight: 400;
  }
  &.over18 .thumbnail {
    background-position: -286px -5px !important;
  }
  .thumbnail.default {
    background-position: -47px -77px;
    background-size: 341px 331px;
  }
}

.link .title,
.submit-page #newlink.submit.content .btn,
a[href*="#icon-more"] {
  font-family: $font-main;
}

.link {
  padding: 10px 0;
  border-left: 3px solid transparent;
  margin-bottom: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  .title {
    color: $color-bg-main;
    padding: 0 !important;
    &:visited {
      color: #b1b1b1;
      padding: 0 !important;
    }
  }
  &.thing.visited .title {
    color: #b1b1b1;
    padding: 0 !important;
  }
  &.last-clicked {
    margin-bottom: 2px;
    padding: 5px 5px 2px 0;
    border: 0;
    border-left: 3px solid $color-bg-secondary !important;
    background: $color-bg-light-hover !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  .score {
    &.likes {
      color: $color-bg-secondary;
    }
    &.dislikes {
      color: #7f7f7f;
    }
  }
  .flair {
    font-size: 1em;
  }
  .midcol {
    margin: 5px 7px;
  }
}

.nextprev a {
  padding: 5px 0 5px 15px;
  color: #fff;
  width: auto;
  display: block;
  background: $color-bg-main;
  border-radius: 0;
  font-size: small;
  margin-top: -12px;
  margin-right: -1px;
  margin-left: -5px;
  text-transform: capitalize;
}

.linklisting {
  .nextprev {
    font-size: 0;
  }
  .stickied {
    border-left: 3px solid #00a64f !important;
    background: rgba(0, 166, 79, 0.1);
  }
  .over18 {
    border-left: 3px solid #e2062c !important;
    background: rgba(225, 6, 44, 0.1);
  }
  .md {
    margin-bottom: 0;
  }
  .usertext-edit div textarea {
    margin-left: -10px;
  }
  //reported threads highlight
  .reported {
    background: rgba(255, 0, 0, 0.1);
    border-left: 3px solid red;
  }
}

.newComments {
  display: inline;
  color: $color-bg-main;
}

.rank,
.titlebox .bottom {
  display: none;
}

.linkinfo .totalvotes {
  color: #494949 !important;
}

.arrow {
  background-image: url(%%spritesheet%%) !important;
  background-position: center center;
  outline: 0 !important;
  border: none !important;
  &.up {
    background-position: -289px -194px;
  }
  &.upmod {
    background-position: -296px -60px;
  }
  &.down {
    background-position: -321px -60px;
  }
  &.downmod {
    background-position: -271px -60px;
  }
  &.up:hover,
  &.down:hover {
    opacity: 0.6;
  }
}

body .linklisting {
  margin-right: 330px;
  bottom: 0;
  margin-top: -7px;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.entry .buttons li a {
  padding: 0px;
  font-size: 1.145em;
}

.tagline,
.search-result-meta {
  font-size: 1.145em;
}

#siteTable .thing {
  margin-left: -5px !important;
  //transition: all .2s;
}

.listing-page .link:hover {
  border-left-color: $color-bg-secondary !important;
  background: $color-bg-light-hover !important;
}

.entry .flat-list .report-button a,
.res-nightmode .entry .flat-list .report-button a {
  color: #d9534f;
}

.reddit-infobar {
  background: #fff;
  BORDER: 1px solid #d7ecff;
  &.with-icon {
    margin-left: -4px;
    &:before {
      background-color: solid $color-bg-main;
      background-repeat: no-repeat;
    }
  }
}

.c-btn-primary {
  background-color: solid $color-bg-main;
  border-bottom: 2px solid #4270a2;
  color: #fff;
  border-radius: 0;
}

.sitetable .comment {
  background-color: #FFF !important;
  .comment {
    background-color: #f5f5f5 !important;
    .comment {
      background-color: #FFF !important;
      .comment {
        background-color: #f5f5f5 !important;
        .comment {
          background-color: #FFF !important;
          .comment {
            background-color: #f5f5f5 !important;
            .comment {
              background-color: #FFF !important;
              .comment {
                background-color: #f5f5f5 !important;
                .comment {
                  background-color: #FFF !important;
                  .comment {
                    background-color: #f5f5f5 !important;
                    .comment {
                      background-color: #FFF !important;
                      .comment {
                        background-color: #f5f5f5 !important;
                        .comment {
                          background-color: #FFF !important;
                          .comment {
                            background-color: #f5f5f5 !important;
                            .comment {
                              background-color: #FFF !important;
                              .comment {
                                background-color: #f5f5f5 !important;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

a.author {
  margin-right: 0.3em;
}

.panestack-title {
  margin: 0 330px 0 -5px;
  padding: 4px 0px;
  background: $color-bg-main;
  color: #fff;
  border-bottom: transparent;
  .title {
    font-size: 1.3em;
    margin: 10px 0 10px 10px;
  }
  a.title-button {
    color: #fff !important;
  }
  a.title-button.gold {
    background-color: transparent;
    border: none;
  }
}

.thing.stickied a.title {
  font-weight: 700 !important;
  color: #00a64f !important;
  font-size: large !important;
  &.visited,
  &:visited {
    font-weight: 700 !important;
    color: #00a64f !important;
    font-size: large !important;
  }
}

.green,
.tagline .moderator {
  color: #00a64f;
  font-weight: 700;
  padding-left: 0;
  padding-right: 1px;
}

.entry .flat-list .approve-button a {
  color: #00a64f;
}

.tagline {
  .stickied-tagline {
    color: #00a64f;
  }
  a:hover {
    color: $color-bg-secondary !important;
  }
}

.gold-accent {
  background-color: $color-bg-main;
  border: none;
  display: inline-block;
  color: #fff !important;
}

#noresults {
  padding: 10px;
  margin-right: 310px !important;
  color: #fff;
  background: $color-bg-main;
  margin-left: 5px !important;
  display: none;
}

.commentarea .infobar {
  color: #eee;
  background: $color-bg-main;
  border: none;
  display: flex;
  a {
    color: #eee;
  }
  p {
    line-height: 8px;
  }
}

//comments page
.comments-page {
  .sitetable.nestedlisting>.thing.stickied {
    margin-bottom: 30px !important;
    border-bottom: solid 3px #00a64f !important;
    background: rgba(0, 166, 79, 0.1) !important;
  }
  &.linkflair-bug .flat-list a.flairselectbtn:after,
  &.linkflair-help .flat-list a.flairselectbtn:after {
    animation: 1s ease-out 0s normal none infinite running pulsate;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-name: pulsate;
  }
  .usertext-edit div textarea {
    background: url(%%wincore-2%%) 206px -213px no-repeat #FFF !important;
    border: 1px solid #000 !important;
    opacity: .8;
    margin-top: 5px;
    outline: 0;
    display: block;
    clear: both;
    margin-bottom: 10px;
    &:focus {
      background: #FFF !important;
      opacity: 1;
      border-color: #0078D6 !important;
    }
  }
  .link {
    border-left: 1px solid #c6c6c6 !important;
  }
}

#suggested-reddits,
.submit-page .content h1,
a[href*='#icon']+.keyNavAnnotation,
a[href*='#/RES_SR_Config/NightModeCompatible'] {
  display: none;
}

.commentarea {
  .menuarea {
    margin: 5px 310px 5px 5px;
  }
  .md {
    margin-bottom: 0;
  }
}

.md {
  overflow: visible;
  a {
    color: $color-bg-main;
  }
  code {
    white-space: normal;
  }
  blockquote {
    border-left: 2px solid $color-bg-secondary;
  }
}

.usertext.border .usertext-body {
  background-color: rgba(0, 120, 213, 0.3);
  width: 95%;
}

//wiki page
.wiki-page .pageactions {
  border-radius: 0;
  border: 1px solid $color-bg-secondary;
  .wikiaction {
    margin: 0 !important;
    border-radius: 0 !important;
    &:hover {
      background-color: $color-bg-secondary !important;
      color: #fff !important;
    }
  }
  .wikiaction-current {
    background-color: $color-bg-main;
  }
}

.wiki-page .wiki-page-content .nextprev a {
  margin-bottom: 12px;
}

ul.tabmenu.formtab {
  padding-left: 0;
}

 ::selection {
  background-color: $color-bg-secondary;
  color: #fff;
}

.buttons .comments.empty {
  color: $color-bg-main;
}

.leavemoderator,
.titlebox form.toggle {
  color: #000;
  background: #fff;
  border-left: 5px solid #d7ecff;
  padding-left: 10px;
  font-size: 8pt;
  margin-right: 5px;
  border-right: 1px solid #d7ecff;
}

//verify RES !important usage ???
#baconBit {
  width: 394px !important;
  height: 304px !important;
  background-image: url(%%res-easter-egg%%) no-repeat !important;
  transition: all 10s linear !important;
  -webkit-transition: all 10s linear !important;
  -moz-transition: all 10s linear !important;
  -o-transition: all 10s linear !important;
  -ms-transition: all 10s linear !important;
}

.sheets .col textarea {
  width: 98%;
  background: #1d1f21;
  color: #ddd !important;
  height: 712px !important;
  font-family: SourceCodePro-Medium, monospace;
}

.gadget .right a,
a[href*="#tech"] {
  font-family: $font-main;
  text-align: center;
}

//ide scrollbar
.sheets {
   ::-webkit-scrollbar {
    background-color: #0f0f0f !important;
  }
   ::-webkit-scrollbar-corner,
   ::-webkit-scrollbar-thumb {
    background: #313131 !important;
  }
}

.panestack-title {
  border-bottom: transparent;
}

.infobar.newsletterbar {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 80px;
  padding: 15px 20px 20px 25px;
  border: none;
  border-radius: 0;
  background-color: #30659B;
  border-left: 3px solid #ff4500;
  margin: -7px 325px 7px 0px;
  left: -5px;
}

#eu-cookie-policy .reddit-infobar a {
  color: #222 !important;
}

.leavemoderator {
  border-color: #393939 !important;
  background: #222 !important;
}

.gadget {
  .midcol {
    margin-right: 9px;
  }
  .right a {
    background: $color-bg-main;
    padding: 5px 10px;
    margin-right: 5px;
    display: block;
    color: #fff;
    font-size: 16px;
    transition: background-color .5s;
    text-transform: capitalize;
    &:hover {
      background: $color-bg-secondary;
    }
  }
}

.voteWeight {
  display: none !important;
}

span.clear-input-button {
  color: #fff;
}

#newlink-with-image-upload {
  .clear-input-button {
    border-radius: 0 !important;
    width: 33px !important;
    height: 26.5px !important;
    top: 0 !important;
    line-height: 26px !important;
    border: 1px solid grey;
    background: $color-bg-main !important;
    transition: background-color .5s;
    right: -10px !important;
    &:hover {
      background: $color-bg-secondary !important;
    }
  }
  .image-upload-drop-target {
    padding: 15px !important;
  }
  .file-upload-button {
    background: $color-bg-main;
    border: none;
    padding: 7px 20px !important;
    display: block !important;
    margin: 6px -17px -17px !important;
    transition: background-color 0.5s;
    &:hover {
      background: $color-bg-secondary;
    }
  }
}

#ad_sponsorship {
  max-width: 295px;
}