$nm-color-bg-main: #222;
$nm-color-bg-secondary: #393939; //new color #252829
$nm-color-milddark:#202020;
$nm-color-borders: #2D2E32;
$nm-color-text: #ddd;
//merged code
.res-nightmode,
html[lang^=nm] {
    body {
        background: #1a1a1a !important;
    }
    #sr-header-area {
        background-color: #0C1722 !important;
    }
    //markdown and its colors
    a {
        color: #f8f8ff;
    }
    .morelink a, //buttons
    a[href*="#Donsiders"],
    a[href*="#btn"] {
        color: #fff!important;
    }
    .shortlink input {
        background: $nm-color-bg-secondary;
        color: $nm-color-text;
    }
    .linklisting {
        border-color: #2D2E32!important;
    }
    #previoussearch #moresearchinfo,
    .roundfield label,
    .search-result-body,
    div.side #searchexpando,
    .submit-page .roundfield .title,
    .md,
    .md blockquote,
    .md del,
    .comments-page .usertext-edit div textarea {
        color: #eee !important;
    }
    .md {
        blockquote {
            background: rgba(0, 87, 166, 0.24);
            border-left: 2px solid $color-bg-secondary !important;
            color: #888 !important;
        }
        code {
            border: none !important;
            background-color: $nm-color-bg-secondary !important;
            border-radius: 0 !important;
            border-left: 3px solid $color-bg-secondary !important;
        }
    }
    .commentingAs,
    .date time,
    .linkinfo .score,
    .linkinfo .shortlink,
    .side .titlebox>.fancy-toggle-button,
    .edit-stylesheet.choice:after,
    .wiki-page .wiki-page-content,
    .side .views {
        color: $nm-color-text !important;
    }
    .date {
        span,
        time {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
    }
    #header,
    #newlink-with-image-upload #new-link-preview,
    .account-activity-box,
    .date:before,
    .morelink,
    .nextprev a,
    .titlebox h1,
    .res .RESDashboardToggle,
    .res .RESshortcutside {
        background: $nm-color-bg-main !important;
    }
    .res .RESDashboardToggle,
    .res .RESshortcutside {
        color: #eee;
    }
    #header #header-bottom-right {
        #mail:hover,
        #modmail:hover,
        .choice:hover,
        .logout:hover,
        .user:hover {
            background-color: $nm-color-bg-secondary !important;
        }
        .logout a,
        .nohavemail#mail {
            background-color: transparent !important;
            outline: 0 !important;
        }
    }
    #header-bottom-right {
        #modmail,
        .choice,
        .user {
            background-color: transparent !important;
            outline: 0 !important;
        }
    }
    #header-bottom-left .tabmenu,
    #header-img,
    #header-img.default-header {
        background: transparent!important;
    }
    #header-bottom-left .tabmenu,
    .new-comment .usertext-body {
        background-color: transparent;
        border: none;
    }
    .date {
        color: $nm-color-text !important;
        &::before {
            color: $nm-color-text !important;
        }
    }
    .flair {
        color: $nm-color-text !important;
    }
    .footer {
        border-right: none !important;
        border-top: none;
        div.col a,
        &::after {
            color: $nm-color-text !important;
        }
    }
    div {
        &.side {
            div.tagline,
            form.flairtoggle,
            span.subscribers {
                background: $nm-color-bg-main !important;
                color: $nm-color-text !important;
            }
        }
        &.titlebox {
            .md {
                h1,
                h2,
                h3,
                h4 {
                    background: $nm-color-bg-main !important;
                }
                ul li {
                    background: $nm-color-bg-main !important;
                    color: $nm-color-text !important;
                }
            }
        }
    }
    .sidecontentbox {
        .title,
        a.helplink {
            background: $nm-color-bg-main !important;
        }
    }
    div #searchexpando,
    .icon-menu li,
    .totalvotes,
    .reddit-link,
    .sidecontentbox .content a.author,
    .sidecontentbox .more,
    .reddit-link,
    .linkinfo .score,
    .linkinfo .shortlink,
    div.titlebox .md ul li,
    .side .views {
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        background: $nm-color-bg-main !important;
        border-top: 1px solid $nm-color-bg-secondary !important;
        &:hover {
            background-color: $nm-color-bg-secondary !important;
            border-left-color: $color-border-left-hover !important;
        }
    }
    div.side {
        div.leavemoderator,
        p.users-online,
        span.subscribers,
        form.leavecontributor-button,
        .titlebox div.subButtons,
        .titlebox h1.redditname+div,
        .titlebox>.fancy-toggle-button {
            border-bottom: 1px solid $nm-color-bg-secondary !important;
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            background: $nm-color-bg-main !important;
            border-top: 1px solid $nm-color-bg-secondary !important;
        }
        div.tagline,
        form.flairtoggle {
            border-left: 5px solid $nm-color-bg-secondary !important;
            border-right: 1px solid $nm-color-bg-secondary !important;
            border-bottom: none !important;
            background: $nm-color-bg-main !important;
        }
    }
    .titlebox form.toggle {
        background: $nm-color-bg-main;
        border-bottom: 1px solid $nm-color-bg-secondary !important;
        border-left: 5px solid $nm-color-bg-secondary !important;
        border-right: 1px solid $nm-color-bg-secondary !important;
        color: #eee;
    }
    //parent comments
    .sitetable .comment .comment {
        background-color: $nm-color-bg-secondary !important;
        .comment .comment {
            background-color: $nm-color-bg-secondary !important;
            .comment .comment {
                background-color: $nm-color-bg-secondary !important;
                .comment .comment {
                    background-color: $nm-color-bg-secondary !important;
                    .comment .comment {
                        background-color: $nm-color-bg-secondary !important;
                        .comment .comment {
                            background-color: $nm-color-bg-secondary !important;
                            .comment .comment {
                                background-color: $nm-color-bg-secondary !important;
                                .comment .comment {
                                    background-color: $nm-color-bg-secondary !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //child comments
    .sitetable .comment {
        background-color: $nm-color-bg-main !important;
        .comment .comment {
            background-color: $nm-color-bg-main !important;
            .comment .comment {
                background-color: $nm-color-bg-main !important;
                .comment .comment {
                    background-color: $nm-color-bg-main !important;
                    .comment .comment {
                        background-color: $nm-color-bg-main !important;
                        .comment .comment {
                            background-color: $nm-color-bg-main !important;
                            .comment .comment {
                                background-color: $nm-color-bg-main !important;
                                .comment .comment {
                                    background-color: $nm-color-bg-main !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    button {
        //border: none;
        background-color: $nm-color-bg-main !important;
    }
	button.save:hover {
		border-color: #7cd87c;
	}
	button.cancel:hover {
		border-color: #f9736f;
	}
    a[href*="#square"]::before {
        border: 3px solid $nm-color-bg-secondary;
    }
    .link {
        border-bottom: 1px solid $nm-color-borders!important;
        // border-right: 1px solid $nm-color-borders!important;
    }
    .listing-page {
        .link:hover {
            background: $nm-color-bg-secondary !important;
            border-left-color: #a9a9a9 !important;
        }
    }
	//tables
	tr:nth-child(even) {
		background-color: #050505;
	}
	.md th, .md td {
		border-color: #2D2E32!important;
	}
    //sidebar
    div.titlebox {
        .md {
            ul li:hover {
                background-color: $nm-color-bg-secondary !important;
                border-left-color: $color-border-left-hover !important;
            }
        }
    }
    .titlebox h1:after,
    div.titlebox .sidecontentbox .title:after,
    div.titlebox h1:after,
    div.titlebox .md h1:after,
    div.titlebox .md h2:after,
    div.titlebox .md h3:after,
    div.titlebox .md h4:after {
        display: block;
        position: absolute;
        z-index: -1;
        border-color: transparent $nm-color-bg-secondary transparent transparent !important;
    }
    //color main merge
    .flairselector,
    .comments-page .usertext-edit div textarea,
    #eu-cookie-policy .reddit-infobar,
    #search input[type=text] {
        background-color: $nm-color-bg-main !important;
        color: $nm-color-text;
    }
	.reddit-infobar {
		background: $nm-color-milddark;
		BORDER: 1px solid $nm-color-borders;
		&.with-icon {
			&:before {
				background-color: solid $nm-color-milddark;
			}
		}
	}
	
    //color secondary merge
    #header-bottom-left .tabmenu li.selected a,
    .link .usertext-body .md,
    .debuginfo,
    .sidecontentbox a.helplink:hover,
    .cookie-infobar.with-icon:before,
    div.titlebox span.fancy-toggle-button a.active.remove,
    .link .score .likes, //hover
    .nextprev a:hover,
    .side .morelink a:hover,
    button:hover,
    .account-activity-box:hover,
     ::-webkit-scrollbar {
        background-color: $nm-color-bg-secondary !important;
    }
    .comment .usertext .md p>a:visited,
    .md a,
    h2 a:visited {
        color: #3498db;
    }
    //scrollbar
     ::-webkit-scrollbar-thumb {
        background-color: #666;
        border: 2px solid #333;
        transition: background-color 0.5s;
        &:hover {
            background-color: #555;
            transition: background-color 0.5s;
        }
        &:active {
            background-color: #bbb;
        }
    }
     ::-webkit-scrollbar-corner {
        color: #555;
    }
    textarea {
        color: #000 !important;
    }
    .content {
        margin-bottom: 0;
        margin-top: 0;
    }
    input {
        &[type=button],
        &[type=reset],
        &[type=submit] {
            border: none;
        }
    }
    .side .spacer .titlebox .redditname {
        border-left-color: $color-bg-secondary;
    }
    .gold-accent {
        background: $color-bg-main;
    }
    .thing {
        .title:visited,
        &.visited .title {
            color: #808c94;
        }
        .title {
            color: #B5C4D0;
        }
    }
    .content.submit .info-notice,
    .submit-page .roundfield {
        background-color: $nm-color-bg-main;
        color: #eee;
    }
    #header #header-bottom-right #mail.havemail {
        outline: 0;
    }
    .formtabs-content .infobar {
        border-color: transparent !important;
    }
    .infobar {
        border-color: #ff4500 !important;
    }
    span.score {
        color: #888 !important;
    }
    .comment.spam>.child,
    .message.spam>.child,
    .usertext.grayed .usertext-body {
        background-color: transparent;
    }
    div.commentarea .infobar {
        color: #eee;
        border: none;
    }
    .comment {
        border: 1px solid #43474F;
    }
    //nightmode icons
    a[href*='#icon-day'] {
        display: inline-block !important;
        &::before {
            display: inline-block !important;
            display: none;
            height: 20px;
            width: 20px;
            content: '';
            margin: 0 7px -4px 0;
            background: url(%%spritesheet%%) -85px -294px;
        }
    }
    a[href*='#icon-night'] {
        display: none;
    }
    a[href*="#icon-feedback"]::before {
        background-position: -47px -149px;
    }
    a[href*="#icon-feedback2"]::before {
        background-position: -5px -375px;
    }
    a[href*="#iconz-tips"]::before {
        background-position: -234px -47px;
    }
    a[href*="#iconz-updates"]::before {
        background-position: -259px -119px;
    }
    a[href*="#iconz-faq"]::before {
        background-position: -174px -47px;
    }
    a[href*="#iconz-install"]::before {
        background-position: -259px -119px;
    }
    a[href*="#iconz-wiki"]::before {
        background-position: -204px -149px;
    }
    //threads
    #siteTable .thing,
    .link.promotedlink {
        background: $nm-color-milddark;
    }
    .organic-listing {
        background: none !important;
    }
    body>.content #siteTable .thing.self .thumbnail {
        background-position: -77px -5px;
    }
    body>.content #siteTable .thing .thumbnail.default {
        background-position: -174px -77px;
    }
    //sidebar icons
    div.side span.subscribers span.number:before {
        background-position: -162px -5px;
    }
    //res expandos
    .expando-button.selftext.collapsed {
        background-position: -5px -242px;
        &:hover {
            background-position: -225px -204px;
        }
    }
    .expando-button.selftext.expanded {
        background-position: -65px -204px;
        &:hover {
            background-position: -105px -204px;
        }
    }
    .expando-button.video.collapsed {
        background-position: -85px -242px;
        &:hover {
            background-position: -45px -242px;
        }
    }
    .expando-button.video.expanded {
        background-position: -65px -204px;
        &:hover {
            background-position: -105px -204px;
        }
    }
    //nm icons end
    .date:after {
        border-color: transparent $nm-color-bg-secondary transparent transparent !important;
    }
    .date span {
        border-left: 5px solid $nm-color-bg-secondary !important;
        color: $nm-color-text;
        border-right-color: $nm-color-bg-secondary;
    }
    .date time {
        border-right: 1px solid $nm-color-bg-secondary !important;
    }
    .link.last-clicked {
        background: $nm-color-bg-secondary !important;
    }
    .comments-page .link {
        border-left: 3px solid transparent;
    }
	.sitetable.nestedlisting>.thing.stickied {
		background: $nm-color-milddark!important;
		border-bottom: none;
	}
}

//end of merged nightmode 
.res-nightmode {
    .res {
        .RES-keyNav-activeElement {
            background-color: #292929 !important;
        }
        .commentarea .RES-keyNav-activeElement {
            .md,
            &.entry .noncollapsed {
                background-color: #292929 !important;
            }
        }
    }
    .RES-keyNav-activeElement {
        background-color: #292929 !important;
        .md-container {
            background-color: #292929 !important;
        }
    }
    .arrow {
        &.upmod {
            background-position: -296px -60px !important;
        }
        &.down {
            background-position: -321px -60px !important;
        }
        &.up {
            background-position: -289px -194px !important;
        }
        &.downmod {
            background-position: -271px -60px !important;
        }
    }
    .side .titlebox>.fancy-toggle-button {
        background: $nm-color-bg-main !important;
        color: $nm-color-text !important;
    }
}

.res {
    .commentarea .RES-keyNav-activeElement {
        .md,
        &.entry .noncollapsed html[lang^=nm] .RES-keyNav-activeElement .md-container {
            background-color: transparent !important;
        }
    }
}