#header #header-bottom-right {
    background: 0 0;
    bottom: -18px;
    top: auto;
    padding: 3px;
    height: 59px;
    font-family: $font-main;
}

#header-bottom-right {
    .separator {
        display: none;
    }
    .user {
        position: relative;
        top: 0;
        width: 119px;
        padding-left: 42px;
        padding-top: 5px;
        font-size: 13px;
        color: #eaeaea;
        line-height: 170%;
        background: url(%%spritesheet%%) -110px -289px no-repeat $color-bg-main;
        float: left;
        border: 2px solid #fff;
        cursor: pointer;
        >a {
            text-indent: 4px;
            color: #FFF;
            display: block;
            line-height: 12px;
            white-space: nowrap;
        }
        span a {
            color: #fff;
        }
    }
    #mail {
        top: 0;
        top: 0 !important;
        width: 42px;
        height: 42px;
        display: inline-block;
    }
    #modmail {
        position: absolute;
        margin-left: -267px;
        top: 3px;
        padding-left: 26px;
        padding-top: 5px;
        background: url(%%spritesheet%%) -224px -72px no-repeat $color-bg-main;
        border: 2px solid #fff;
    }
}

#beta-help,
.beta-hint a {
    position: absolute !important;
}

#modmail.havemail {
    background: url(%%spritesheet%%) -224px -72px #ff4500 !important;
}

#header #header-bottom-right {
    #modmail:hover,
    .choice:hover,
    .user:hover {
        background-color: $color-bg-secondary;
    }
    .logout {
        display: inline-block;
    }
    #mail,
    .choice,
    .logout a {
        margin-left: 5px;
        width: 42px;
        width: 42px !important;
        height: 42px;
        display: inline-block;
        text-indent: 50px;
        overflow: hidden;
        transition: background-color 0.5s;
    }
    #mail {
        &.nohavemail {
            background: url(%%spritesheet%%) 0px -114px no-repeat $color-bg-main;
            border-radius: 1px;
            border: 2px solid #fff;
        }
        &.havemail {
            background: url(%%spritesheet%%) 0px -114px no-repeat #ff4500;
        }
    }
}

.res #header #header-bottom-right #mail.havemail {
    background: url(%%spritesheet%%) 0px -115px no-repeat #ff4500;
}

#header #header-bottom-right {
    #mail.havemail {
        border-radius: 1px;
        border: 2px solid #fff;
    }
    .choice {
        background: url(%%spritesheet%%) -127px -114px no-repeat $color-bg-main;
        border-radius: 1px;
        border: 2px solid #fff;
    }
}

.beta-hint {
    opacity: 1;
    a {
        top: 0;
        left: -78px;
        color: transparent !important;
        background-color: $color-bg-main;
        background-image: url(%%spritesheet%%) !important;
        background-repeat: no-repeat !important;
        background-size: 341px 331px!important;
        background-position: -72px -143px!important;
        width: 42px;
        height: 42px;
        border-radius: 1px;
        border: 2px solid #fff;
        transition: background-color 0.5s;
        &:hover {
            background-color: green !important;
        }
    }
}

#beta-help {
    background: #FFFFE1 !important;
    color: #000 !important;
    left: 1200px !important;
    top: 170px !important;
}

.res .beta-hint a {
    display: none;
}

#header #header-bottom-right {
    .logout a {
        background: url(%%spritesheet%%) -127px -42px no-repeat $color-bg-main;
        border-radius: 1px;
        border: 2px solid #fff;
    }
    #mail {
        &.havemail,
        &.nohavemail {
            border-bottom: none;
        }
    }
    .choice,
    .logout a {
        border-bottom: none;
    }
}

#header-bottom-right {
    #modmail,
    .user {
        border-bottom: none;
    }
}

.user .userkarma {
    border-bottom: none;
}

#header #header-bottom-right {
    #mail:hover,
    .choice:hover,
    .user:hover {
        background-color: $color-bg-secondary;
    }
    .logout a:hover {
        text-indent: -99999px;
        color: #fff;
        background: url(%%spritesheet%%) -127px -42px no-repeat #ce352c;
    }
}

#openRESPrefs {
    position: absolute;
    right: 365px;
    top: 22px;
}

#mailCount {
    position: absolute;
    left: 208px;
    top: -2px;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}

.message-count {
    background: $color-bg-secondary;
    height: 42px;
    font-size: medium;
    line-height: 42px !important;
    margin-left: -4px;
    vertical-align: top;
    display: none;
}

.user .userkarma {
    cursor: help;
}

#RESAccountSwitcherIconOverlay {
    display: none !important;
}

#RESAccountSwitcherIcon {
    float: right;
    margin-right: 5px;
    margin-top: -10px;
    background: url(%%spritesheet%%) -264px -5px no-repeat !important;
}