.res {
    #sr-header-area #srDropdownContainer a:hover {
        opacity: 1;
    }
    .comment .midcol {
        margin-left: 20px;
    }
    .comment .new-comment {
        border: 2px solid #FFAB91 !important;
        border-radius: 0px !important;
    }
    #sr-header-area #srDropdownContainer a {
        width: 35px;
        height: 23px;
        padding: 0;
        margin: 0;
        display: block;
        background: url(%%spritesheet%%) -225px -252px no-repeat;
        line-height: 35px;
        text-indent: -999em;
    }
    .RES-keyNav-activeElement,
    .commentarea .RES-keyNav-activeElement .md,
    .commentarea .noncollapsed .RES-keyNav-activeElement.entry {
        background-color: 0 0 !important;
    }
    .RESDashboardToggle,
    .RESshortcutside {
        background: 0 0;
        border: none;
        font-weight: 400;
        text-transform: uppercase;
        color: #222;
    }
    .sitetable .sitetable {
        margin-right: 0;
    }
}

.RESSubscriptionButton {
    color: #fff !important;
    border-radius: 1px !important;
    background-color: transparent !important;
}

.RESSubscriptionButton {
    border: none !important;
}

//display none
#RESAnnouncementAlert,
#userbarToggle,
.multi-count,
.sidecontentbox .content .RESUserTagImage::after,
.res .sidebox.create,
.res .message-count,
.res .side .userTagLink {
    display: none !important;
}

#RESSettingsButton {
    right: 20px;
    top: 3px;
}

#RESStaticShortcuts {
    line-height: 25px;
}