//markdown
.side {
    margin: 0;
    padding-left: 30px;
    background: 0 0;
    &:after {
        content: "/r/ClearShift theme";
        font-size: large;
        color: $color-bg-main;
        margin-left: 50px;
    }
    .md {
        h2 {
            margin-top: 1.4em;
            font-size: 1.4em;
        }
        h3 {
            font-size: 1.2em;
            color: #555;
            margin: 2em 0 0.2em;
        }
        h4 {
            color: #888;
            margin-bottom: 1.5em;
        }
        p {
            margin: 0.5em 0;
            a {
                margin: 0 .2em;
                font-size: 1.1em;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        h1,
        h2,
        h3,
        h4 {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            &:after {
                display: block;
                position: absolute;
                z-index: -1;
                border-color: transparent #d7ecff transparent transparent;
                border-width: 10px;
                border-style: solid;
                content: "";
                margin-left: -24px;
            }
            a {
                color: #fff;
                font-size: 13px;
            }
        }
        h1 {
            color: #fff;
            font-size: 13px;
            a {
                color: #fff;
                font-size: 13px;
            }
        }
    }
    .titlebox {
        div.subButtons,
        h1.redditname+div,
        >.fancy-toggle-button {
            padding: 10px;
            border: 1px solid #d7ecff;
            border-left: 5px solid #d7ecff;
            border-right: 1px solid #d7ecff;
            background-color: #fff;
            color: #000;
            font-size: 8pt;
            border-radius: 0;
            font-weight: 400;
            margin: 0 5px 0 0;
        }
        div.subButtons,
        h1.redditname+div,
        >.fancy-toggle-button {
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: none;
            border-bottom: none;
        }
        div.subButtons,
        >.fancy-toggle-button {
            width: 269.3px;
        }
    }
    .titlebox>.fancy-toggle-button {
        display: block !important;
    }
    div.titlebox ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .subscribe-button .add {
        animation: 1s ease-out 0s normal none infinite running pulsate;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: pulsate;
    }
}

//pulse anim
@-webkit-keyframes pulsate {
    0%,
    100% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes pulsate {
    0%,
    100% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}

@keyframes pulsate {
    0%,
    100% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}

.titlebox h1:after {
    display: block;
    position: absolute;
    z-index: -1;
    border-color: transparent #d7ecff transparent transparent;
    border-width: 10px;
    border-style: solid;
    content: "";
    margin-left: -24px;
}

div.side {
    div {
        &.tagline {
            padding: 10px;
            border: 1px solid #d7ecff;
            border-left: 5px solid #d7ecff;
            border-right: 1px solid #d7ecff;
            background-color: #fff;
            color: #000;
            font-size: 0.945em;
            border-radius: 0;
            font-weight: 400;
            margin: 0 5px 0 0;
        }
    }
    form {
        &.flairtoggle,
        &.leavecontributor-button {
            padding: 10px;
            border: 1px solid #d7ecff;
            border-left: 5px solid #d7ecff;
            border-right: 1px solid #d7ecff;
            background-color: #fff;
            color: #000;
            font-size: 0.945em;
            border-radius: 0;
            font-weight: 400;
            margin: 0 5px 0 0;
        }
    }
    span.subscribers {
        border: 1px solid #d7ecff;
        border-left: 5px solid #d7ecff;
        border-right: 1px solid #d7ecff;
        background-color: #fff;
        color: #000;
        font-size: 0.945em;
        border-radius: 0;
        font-weight: 400;
        margin: 0 5px 0 0;
        padding: 7px 10px 10px;
        display: block !important;
        padding-top: 5px;
        padding-bottom: 10px;
        border-top: none;
        span {
            vertical-align: middle;
            &.number:before {
                background: url(%%spritesheet%%) -192px -5px;
                display: block;
                float: left;
                width: 20px;
                height: 20px;
                content: "";
                margin-right: 5px;
            }
        }
    }
    div.tagline {
        display: block !important;
    }
    form {
        &.flairtoggle {
            display: block;
        }
    }
    div.leavemoderator {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: none;
        border-bottom: none;
    }
    form {
        &.flairtoggle {
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: none;
            border-bottom: none;
        }
    }
    p.users-online {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: none;
        border-bottom: none;
    }
    div.tagline {
        padding-top: 0;
        border-top: none;
    }
}

//what
.morelink {
    border: 1px solid $color-bg-main;
    background: $color-bg-main;
    width: 143px;
    margin-right: 5px;
    transition: background-color 0.5s;
    a {
        color: #fff;
        font-family: $font-main;
        font-weight: 400 !important;
        letter-spacing: 0;
        font-size: 10.5pt;
    }
    &:hover {
        background: $color-bg-secondary;
        border-color: $color-bg-secondary;
        a {
            color: #fff;
            border-color: $color-bg-secondary;
        }
    }
    .nub {
        display: none;
    }
}

.submit .morelink {
    float: left;
}

.submit-page .titlebox h1 {
    margin-top: 0 !important;
}

.redditname {
    margin-top: 53px !important;
}

.reddit-link {
    padding: 7px 10px 10px;
    border-left: 5px solid #d7ecff;
    background-color: #fff;
    border-bottom: 1px solid #d7ecff;
    border-right: 1px solid #d7ecff;
    font-size: 1em;
    margin-right: 5px;
}

.icon-menu li {
    display: block;
    margin: 0;
    padding: 7px 10px 10px !important;
    border-left: 5px solid #d7ecff;
    background-color: #fff;
    border-bottom: 1px solid #d7ecff;
    border-right: 1px solid #d7ecff;
    margin-right: 5px !important;
}

.search-page .side .spacer {
    margin: 10px 0;
}

.sidebox.create {
    display: none !important;
}

.helplink~.content {
    .author {
        &[href*=AutoModerator],
        &[href*=flair_your_post_bot] {
            display: none;
        }
    }
    .flair {
        display: none;
    }
}

.linkinfo {
    background-color: transparent;
}

.sidecontentbox .helplink+.title h1 {
    font-size: 0;
    &:before {
        font-size: 13px !important;
        content: "Moderators team";
        text-transform: capitalize;
    }
}

.helplink~.content .author .helplink~.content .author:hover {
    color: $color-bg-secondary;
}

.sidecontentbox .content .linkflairlabel {
    display: none;
}

div.titlebox .md {
    h3:hover+ul {
        display: block;
    }
    ul {
        li strong:first-child,
        &:hover {
            display: block;
        }
        li {
            border: none;
            margin-right: 5px;
        }
    }
}

.sidecontentbox {
    .content a.author,
    .more {
        display: block;
        margin: 0;
        padding: 7px 10px 10px !important;
        border-left: 5px solid #d7ecff;
        background-color: #fff;
        border-bottom: 1px solid #d7ecff;
        border-right: 1px solid #d7ecff;
        font-size: 0.945em;
        margin-right: 5px !important;
        &:hover {
            background-color: $color-bg-light-hover;
            border-left-color: rgba(6, 102, 178, 0.5);
        }
    }
    .content {
        border: none;
        padding: 0;
    }
    .more {
        text-align: center;
        a {
            color: #369;
        }
    }
}

.icon-menu li:hover,
.reddit-link:hover {
    background-color: $color-bg-light-hover;
    border-left-color: rgba(6, 102, 178, 0.5);
}

div.titlebox {
    .md ul li {
        padding: 7px 10px 10px;
        border-left: 5px solid #d7ecff;
        background-color: #fff;
        border-bottom: 1px solid #d7ecff;
        border-right: 1px solid #d7ecff;
        font-size: 0.945em;
        &:hover {
            background-color: $color-bg-light-hover;
            border-left-color: rgba(6, 102, 178, 0.5);
        }
    }
    div.styleToggle,
    span.fancy-toggle-button a.active {
        padding: 5px 10px;
        background-color: $color-bg-secondary;
        color: #fff;
        font-size: 8pt;
        display: block !important;
        background-image: none;
        border-radius: 0;
        font-weight: 400;
        margin: 0;
        border: none;
    }
    div.styleToggle {
        background-color: $color-bg-main;
        line-height: 20px;
        input,
        label {
            vertical-align: middle;
            margin: 0;
        }
    }
    span.fancy-toggle-button a.active {
        &.add:hover,
        &.remove {
            background-color: $color-bg-main;
        }
    }
    span.fancy-toggle-button a.active {
        &.remove {
            &:before {
                content: "";
                padding-right: 5px;
            }
            &:hover:after {
                content: "=(";
                font-style: italic;
                padding-left: 5px;
            }
        }
        &.add:before {
            content: "+";
            padding-right: 5px;
            color: #fff;
        }
    }
}

#RESShortcutsAdd,
#RESShortcutsLeft,
#RESShortcutsRight,
#RESShortcutsSort,
#RESShortcutsTrash {
    width: 17px !important;
}

.sidecontentbox .content a.author {
    display: block;
    margin: 0;
    padding: 3px 0;
    &:hover {
        color: $color-bg-secondary;
    }
}

#searchexpando {
    padding: 10px;
    border: 1px solid #d7ecff;
    border-right: 1px solid #d7ecff;
    background-color: #fff;
    color: #000;
    font-size: 8pt;
    border-radius: 0;
    font-weight: 400;
    margin: 0 5px 0 0;
    width: 273px !important;
    border-left: 1px solid #d7ecff;
}

#search input[type=text] {
    width: 295px !important;
    border-color: $color-bg-main;
}

.sidecontentbox .title {
    border-left: 5px solid $color-bg-alt;
    background-color: $color-bg-main;
    padding: 10px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -10px;
    &:after {
        display: block;
        position: absolute;
        z-index: -1;
        border-color: transparent #d7ecff transparent transparent;
        border-width: 10px;
        border-style: solid;
        content: "";
        margin-left: -25px;
    }
}

div.titlebox {
    .md {
        h3:before {
            content: "+";
            color: #fff;
            padding-right: 5px;
        }
        h2,
        h3,
        h4 {
            border-left: 5px solid $color-bg-alt;
            background-color: $color-bg-main;
            padding: 10px;
            font-weight: 400;
            cursor: default;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -10px;
        }
    }
    h1 {
        border-left: 5px solid $color-bg-alt;
        background-color: $color-bg-main;
        padding: 10px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -10px;
        font-size: 13px;
    }
}

//disabled
.leavemoderator,
.subscribers .word,
.users-online,
.leavecontributor-button {
    display: none;
}

.sidecontentbox a.helplink {
    margin-right: 5px;
}

.icon-menu a {
    background: 0 0;
}

.titlebox .bottom {
    border: none;
}

#RESShortcutsAdd,
#RESShortcutsEditContainer,
#RESShortcutsLeft,
#RESShortcutsRight,
#RESShortcutsSort,
#RESShortcutsTrash {
    background-color: transparent !important;
    &:hover {
        color: #f0f0f0 !important;
    }
}

.titlebox .md h3 {
    +ul:hover,
    &:hover+ul {
        max-height: 600px;
    }
}

div.titlebox .md h3+ul {
    display: block;
    transition: 1.8s max-height ease-out;
    overflow: hidden;
    max-height: 0;
}

div.titlebox .md h3:hover+ul {
    transition: .8s max-height ease-out;
}

//viewport
@media (max-width: $breakpoint-1) {
    .side {
        display: none;
    }
    body .linklisting {
        margin-right: 0 !important;
    }
    .footer::after {
        display: none !important;
    }
    .infobar {
        margin-right: 18px;
    }
    .footer {
        border-right: 1px solid $color-bg-main;
    }
    #header-bottom-left .tabmenu {
        width: calc(100% - 50px);
        padding-left: 50px;
    }
    #siteTable_organic {
        margin-right: -5px;
    }
    .panestack-title {
        margin: 0 0px 0 -5px;
    }
    .infobar.newsletterbar {
        margin: -7px -5px 7px 0px;
    }
}

div.commentarea .infobar p {
    background: $color-bg-secondary;
    padding: 10px;
    margin: -5px -5px -5px 10px;
}

.linkinfo {
    padding: 0;
    border: none;
    .score,
    .shortlink {
        color: #494949;
        border-left: 5px solid #d7ecff;
        background-color: #fff;
        border-bottom: 1px solid #d7ecff;
        border-right: 1px solid #d7ecff;
        font-size: 8pt;
        margin-right: 5px;
    }
    .score {
        padding: 7px 10px;
        margin-top: 10px;
    }
    .shortlink {
        display: block;
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 0;
        padding: 7px 10px 10px;
    }
}

.date {
    &:before {
        content: "Date ";
        display: block;
        color: #fff !important;
        text-transform: none;
        border-left: 5px solid $color-bg-alt;
        background-color: $color-bg-main;
        padding: 10px;
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 6px;
        margin-left: -10px;
        font: 400 small verdana, arial, helvetica, sans-serif;
    }
    &:after {
        display: block;
        position: absolute;
        z-index: -1;
        border-color: transparent #d7ecff transparent transparent;
        border-width: 10px;
        border-style: solid;
        content: "";
        margin-left: -19px;
        margin-top: -32px;
    }
    span {
        display: block;
        background-color: #fff;
        padding: 7px 0 10px 10px;
        border-left: 5px solid #d7ecff;
        border-bottom: 1px solid #d7ecff;
        margin: -6px 5px -10px 0;
        border-right: 1px solid #d7ecff;
    }
    span,
    time {
        color: #494949;
        font-size: 9pt;
    }
    time {
        position: absolute;
        top: 257px;
        right: 68px;
    }
}

.totalvotes {
    display: block;
    background-color: #fff;
    color: #494949 !important;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 0;
    padding: 7px 10px 10px;
    border-left: 5px solid #d7ecff;
    border-bottom: 1px solid #d7ecff;
    border-right: 1px solid #d7ecff;
    font-size: 8pt !important;
    margin-right: 5px;
}

.linkinfo .shortlink input {
    height: 10px;
    border: none;
    width: 181px;
    font-size: 13px;
}

.submit-page .side:before {
    content: "Use search before posting";
    font-size: large;
    color: #E54661;
    margin-left: 27px;
}

.sidecontentbox {
    a.helplink {
        float: none;
        margin-top: 4px;
        clear: both;
        text-align: center;
        display: block;
        color: #fff;
        background: $color-bg-main;
        box-sizing: border-box;
        margin-bottom: 10px;
        &:hover {
            background: $color-bg-secondary;
        }
    }
    .title h1,
    a.helplink {
        color: #fff;
    }
}

.account-activity-box,
.sidecontentbox a.helplink {
    font-size: 16px;
    padding: 10px;
    transition: background-color .5s;
    text-transform: capitalize;
}

.account-activity-box {
    display: block !important;
    background: $color-bg-main;
    margin-right: 5px;
    &:hover {
        background: $color-bg-secondary;
    }
    a {
        color: #fff;
        padding: 10px 70px;
    }
}