$subscribers: " enjoying creators update";
//4-01 reddit doesn't support filter, sigh
// body>.content #siteTable .thing.self .thumbnail,
// a::before {
//   filter: hue-rotate(150deg);
// }
//sidebar name
.titlebox h1.redditname a {
  font-size: 0;
  &:after {
    content: $sub-name;
    color: #fff;
    font: 400 small verdana, arial, helvetica, sans-serif;
  }
}

#header .redditname a {
  font-size: 0;
  background: url(%%wincore-2%%) -5px -5px no-repeat;
  margin-left: 10px;
  height: 100px;
  display: block;
  position: absolute;
  top: 30px;
  &:hover {
    background: url(%%wincore-2%%) -5px -115px no-repeat!important;
    text-decoration: none;
  } //header name
  &:after {
    content: $sub-name;
    font-size: 70px;
    font-weight: lighter;
    color: #ECF0F1;
    font-family: $font-light;
    letter-spacing: .05em;
    margin-left: 100px;
    line-height: 100px;
    font-variant: normal;
    transition: background-color 0.5s;
  }
}

//flairs
.flair-mod,
.flair-msft {
  border: none;
  background: 0 0;
  font-weight: 700;
  &:before {
    content: "- ";
  }
}

.sidecontentbox .flair-mod {
  display: none;
}

.flair-mod {
  color: $color-mod;
}

//microsoft employees
.linklisting .flair-msft:after {
  display: none;
}

.flair-msft {
  height: 16px;
  line-height: 16px;
  color: $color-win;
  padding: 0;
  &:after {
    content: "Microsoft Employee";
    position: absolute;
    top: -0.7px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    text-align: right;
    padding: .25em .5em;
    border: 3px solid #8bb9e2;
    pointer-events: none;
  }
}

.author {
  &[href$=Adam-MSFT],
  &[href$=Dave_MSFT],
  &[href$=DrPreppy],
  &[href$=EKILBO],
  &[href$=Giffdev],
  &[href$=James-MSFT],
  &[href$=KritiMSFT],
  &[href$=MailmanOdd],
  &[href$=MasterDevwi],
  &[href$=MsftHealthWill],
  &[href$=NorthFaceHiker],
  &[href$=Psychlist1972],
  &[href$=Sawan-Msft],
  &[href$=Sawan-MSFT],
  &[href$=StephA_MSFT],
  &[href$=Zev_MSFT],
  &[href$=adam_msft],
  &[href$=anaotero-MSFT],
  &[href$=anbutle],
  &[href$=anthonykinseymsft],
  &[href$=bbyboi],
  &[href$=bitcrazed],
  &[href$=bloodytemplar],
  &[href$=devbent],
  &[href$=donaMSFT],
  &[href$=jenmsft],
  &[href$=Sean_MSFT],
  &[href$=jeremy_msft],
  &[href$=johnwinkmsft],
  &[href$=josh_msft],
  &[href$=kylealden],
  &[href$=maheshrd],
  &[href$=mike_msft],
  &[href$=msftbanddev],
  &[href$=msftbilly],
  &[href$=mvaneerde],
  &[href$=ooeygui],
  &[href$=samersaw],
  &[href$=sjarawan],
  &[href$=stefohneee],
  &[href$=toma_msft],
  &[href$=vpmsft],
  &[href$=xander-msft],
  &[href$=zac_l],
  &[href$=craigbarkhouse],
  &[href$=elvenharps],
  &[href$=nerdile],
  &[href$=einarmsft],
  &[href$=yosefdurr],
  &[href$=Travis_MSFT],
  &[href$=caithartMSFT],
  &[href$=ClayMSFT],
  &[href$=another_mike_msft],
  &[href$=JonTyrrell],
  &[href$=JohnMSFT],
  &[href$=ctrl_alt_steph],
  &[href$=sedmison],
  &[href$=MSFTJesse],
  &[href$=paulcam],
  &[href$=shanselman],
  &[href$=ryanb_msft],
  &[href$=zadjii],
  &[href$=WindowsDocs_Quinn],
  &[href$=andybeach],
  &[href$=pfeplatforms_msft],
  &[href$=ezpark],
  &[href$=tomasmsft],
  &[href$=sushMSFT],
  &[href$=tdashroy],
  &[href$=TheoMSFT] {
    color: $color-win;
    font-weight: 700;
  }
  &[href$=ildun],
  &[href$=Katsuga50] {
    color: #e67e22;
    font-weight: 700;
  }
}

.flair-wiki {
  color: #e67e22;
  font-weight: 700;
  height: 16px;
  line-height: 16px;
  border: none;
  background: 0 0;
  padding: 0;
  &:before {
    content: "- ";
  }
}

.flairselector {
  background-color: #fff;
}

//sidebar flair filters and listing link flairs
@mixin flairs($colors...) {
  @each $i in $colors {
    .side a[href*='#square-#{nth($i, 1)}']:before,
    .linkflair-#{nth($i, 1)} .linkflairlabel {
      background: nth($i, 2);
    }
  }
}

@include flairs( 'discussion' #ff9e00, 'tip' #468966, 'news' #F2385A, 'official' #2086bf, 'update' #0078d7, 'help' #FF6138, 'solved' #008A00, //'unresolved' #FF7D4D
'bug' #ce352c, 'update' #0078d7, 'feature' #00aba9, //'hardware' #f0a30a
'meta' #4390df, 'app' #bf5a15, // 'original%20content' #0B9C67,
'concept' #14B6F5, 'request' #00aba9, //subject to be removed
// 'question' #008a00,
'hflairs' #E42608, 'hhelp' #E42608, 'gaming' #107c10, //new
'development' #0078d7, 'insider-bug' #ce352c);
a {
  &[href*='#square']+.keyNavAnnotation {
    display: none;
  }
  &[href*='#square-']:hover::before {
    text-decoration: none;
    background: $color-bg-secondary;
    border-color: #80c2ff;
    left: 4px;
    top: 8px;
    transition: all 0.15s ease;
  }
  &[href*='#square-']:before {
    display: inline-block;
    height: 10px;
    width: 10px;
    content: '';
    margin: 0 5px -4px 0;
    border: 3px solid #e8e8e8;
  }
}

.linkflairlabel {
  margin: 0 4px -4px 0;
  padding: 3px 7px;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  font-family: $font-main;
  pointer-events: none;
  border-radius: 0;
  border: 0;
  &:lang(nf) {
    display: none;
  }
}

// for sidebar usage> [Please flair your thread](#flairy)
@mixin flairy($description, $width: 230px, $color-background: $color-mod, $color-top-background: #0d9605, $color-border: #0d9605, $color-border-hover: #2dad56) {
  display: block!important;
  position: fixed;
  bottom: 30px;
  height: auto;
  min-height: 63px;
  max-width: $width;
  left: 15px;
  z-index: 9999;
  font-size: 0 !important;
  font-family: $font-main;
  background-image: url(%%flairy%%);
  background-position: 6px 26px;
  background-repeat: no-repeat;
  background-color: $color-background;
  color: #fff;
  text-align: center;
  border: 2px solid $color-border;
  transition: opacity .5s;
  text-decoration: none;
  animation: toasty 500ms forwards;
  animation-iteration-count: 1;
  font-weight: normal;
  &:before {
    background: $color-top-background;
    display: block;
    height: 20px;
    width: 100%;
    position: relative;
    font-size: 13px;
    content: "Subreddit notification";
    line-height: 18px;
    text-align: left;
    text-indent: 10px;
    color: #fff;
  }
  &:after {
    content: $description !important;
    text-align: left;
    font-size: 14px;
    display: block;
    color: #fff !important;
    position: relative;
    top: -0.1em;
    padding: 0 12px 12px 48px;
    white-space: normal;
  }
  &:hover {
    border-color: $color-border-hover;
  }
}

//resolved flairy
.comments-page.post-submitter  .link {
  &.linkflair-bug .flat-list .flairselectbtn,
  &.linkflair-help .flat-list .flairselectbtn {
    @include flairy("Click here to flair your thread as solved once your problem is resolved", 390px, #E74C3C, #ff6138, #ff6138, #F44336);
  }
}

//call to flair post
.post-submitter .link:not(.linkflair) .flairselectbtn {
  @include flairy("Click here to flair thread");
}

//flairy animation
@keyframes toasty {
  0% {
    transform: scale(0.3) rotateY(90deg);
  }
  60% {
    transform: scale(1.4);
  }
  90% {
    transform: scale(0.9);
  }
}

html:lang(nh) {
  .linkflair-bug,
  .linkflair-help {
    display: none !important;
  }
}

//listing content highlighting
@mixin listing-highlight($prefix, $colors...) {
  @each $i in $colors {
    .listing-page {
      .#{$prefix}#{nth($i, 1)} {
        border-left: 3px solid nth($i, 2);
        background: rgba(nth($i, 2), .05);
      }
    }
  }
}

@include listing-highlight('linkflair-', 'discussion' #ff9e00, 'tip' #468966, 'news' #F2385A, 'official' #2086bf, 'update' #0078d7);
//
//res nightmode content highlight
.res-nightmode .side .md blockquote,
html[lang^=nm] .side .md blockquote {
  border-left: 5px solid #3B81FB !important;
  color: #ddd !important;
}

.comments-page .link.linkflair-solved {
  display: block;
}

#header-img.default-header,
a[href*="#icon-day"] {
  display: none;
}

//sidebar content highlighting
.side .md blockquote {
  padding: 2px 10px 5px;
  border-left: 5px solid #f5c684;
  background-color: #fef8f1;
  border-bottom: 1px solid $color-borders-light;
  border-right: 1px solid $color-borders-light;
  font-size: 10px;
  margin: 0 5px 0 0;
  color: #222;
  &:hover {
    background-color: #fcecd9;
    border-left-color: #f0ad4e;
  }
  a {
    font-size: 11px;
  }
}

//nav promoted subs
a[href$="WindowsMobile#2"] {
  position: absolute;
  top: 134px;
  left: 48px;
  color: #ddd !important;
  z-index: 99;
  border-bottom: 2px solid transparent !important;
  text-transform: uppercase;
  transition: .15s ease-in-out;
  line-height: 14px;
  height: 22px;
  padding: 7px 9px 0;
  font-size: 11.4px !important;
  letter-spacing: 0.1em;
  font-family: $font-main;
  &:hover {
    color: #fff!important;
    background: $color-bg-secondary;
    border-color: #fff!important;
  }
}

//buttons
//1.Insider thread buttons
a {
  &[href*="#Donsiders"],
  &[href*="#btn"] {
    display: inline-block;
    border: 1px solid #0081ba;
    color: #fff!important;
    padding: 10px 13px;
    margin: 5px 0;
    transition: all 0.5s;
    border-radius: 1px;
    &:hover {
      background: $color-bg-secondary;
      -webkit-transform: translateY(-1px);
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    }
  }
  &[href*="#Donsiders"] {
    background: #009e7e;
    &:hover {
      background: $color-bg-secondary;
    }
  }
  &[href*="#btn"] {
    background: #0057a6;
  } //3.sidebar flair content toggles
  &[href*="#square-showflairs"] {
    float: right;
    &::before {
      display: inline-block;
      height: 10px;
      width: 10px;
      content: "";
      background: -187px -5px $color-bg-main;
      border: 3px solid #e8e8e8;
      border-radius: 50%;
      margin-left: 5px;
    }
  }
  &[href*="#square-hflairs"] {
    &::after {
      content: "or";
      margin-left: 50px;
    }
    &:hover::after {
      color: $color-bg-main;
    }
  }
}

//2.sidebar buttons
.side .md {
  [href$="#butt"] {
    display: inline-block !important;
    font-size: 8pt;
    border: 2px solid $color-bg-main;
    padding: 9px 8px;
    transition: background-color .5s;
    text-align: center;
    color: $color-bg-main;
    &:hover {
      background: $color-bg-main;
      color: #fff;
    }
  }
  >p:first-of-type {
    display: none;
  }
}

.linkflair-solved.link {
  display: none;
}

.search-page .linkflair-solved.link {
  display: block;
}

//sidebar icons
a {
  &[href*='#icon-chat']::before,
  &[href*='#icon-feedback']::before,
  &[href*='#icon-night']::before,
  &[href*='#icon-feedback2']::before {
    display: inline-block;
    height: 20px;
    width: 20px;
    content: '';
    margin: 0 7px -4px 0;
  }
  &[href*='#icon']:hover {
    text-decoration: none;
  }
  &[href*='#icon-chat']::before {
    background: url(%%spritesheet%%) -5px -204px;
  }
  &[href*='#icon-feedback']::before {
    background: url(%%spritesheet%%) -35px -204px;
  }
  &[href*='#icon-night']::before {
    background: url(%%spritesheet%%) -125px -242px;
  }
  &[href*='#icon-feedback2']::before {
    background: url(%%wincore-2%%) -5px -345px;
  }
  &[href*="#icon-more"] {
    text-align: center;
    display: block;
    color: $color-bg-secondary;
    font-size: 16px;
  }
  &[href*='#iconz']+.keyNavAnnotation {
    display: none;
  }
  &[href*='#iconz-tips']::before,
  &[href*='#iconz-updates']::before,
  &[href*='#iconz-faq']::before,
  &[href*='#iconz-install']::before,
  &[href*='#iconz-wiki']::before {
    display: inline-block;
    height: 20px;
    width: 20px;
    content: '';
    margin: 0 7px -4px 0;
  }
  &[href*='#iconz']:hover {
    text-decoration: none;
  }
  &[href*='#iconz-tips']::before {
    background: url(%%spritesheet%%) -204px -47px;
  }
  &[href*='#iconz-faq']::before {
    background: url(%%spritesheet%%) -47px -47px;
  }
  &[href*='#iconz-updates']::before {
    background: url(%%spritesheet%%) -102px -77px;
  }
  &[href*='#iconz-install']::before {
    background: url(%%spritesheet%%) -229px -119px;
  }
  &[href*='#iconz-wiki']::before {
    background: url(%%spritesheet%%) -174px -149px;
  }
}

//Gabe instead of empty win blog icon
.link a.thumbnail[href*="blogs.windows.com"] {
  background: url(%%spritesheet%%) -234px -149px no-repeat !important;
  width: 45px;
  height: 45px;
  margin: 10px;
  img {
    display: none;
  }
}

//sidebar enrolling
.res-nightmode .subscribers .number:after,
.subscribers .number:after {
  content: $subscribers;
}

.subscribers .word {
  display: none
}

//disabled voting for non subscribers
.arrow.down {
  pointer-events: none;
}

.subscriber .arrow.down {
  pointer-events: initial;
}

//easter egg
//verify RES !important usage ???
#baconBit {
  width: 394px !important;
  height: 304px !important;
  background-image: url(%%res-easter-egg%%) no-repeat !important;
  transition: all 10s linear !important;
}

//wincore2
//comment window windows logo
.comments-page .usertext-edit div textarea {
  background: url(%%wincore-2%%) 206px -213px no-repeat #FFF !important;
}

//
.res-nightmode,
html[lang^=nm] {
  a[href*="#icon-chat"]::before {
    background-image: url(%%wincore-2%%);
    background-position: -5px -405px;
  }
}

.submit-page .side:before {
  content: "Use search before posting";
  font-size: large;
  color: $color-bg-alt;
  margin-left: 27px;
  top: 2px;
  position: relative;
}

//Microsoft community button
.side .md a[href="https://discord.gg/microsoft"] {
  z-index: 1;
  text-indent: -9999px;
  background-image: url(%%discord%%);
  background-position: -5px -5px;
  position: relative;
  height: 90px;
  width: 295px;
  display: block;
  margin: 10px 0;
  border-radius: 3px;
  &:after {
    content: "";
    background-image: url(%%discord%%);
    background-position: -5px -105px;
    transition: ease-out opacity 0.7s;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
  }
  &:hover::after {
    opacity: 1;
  }
}